<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Video prototype test</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap-crazy.css">
<style type="text/css">
*[onclick], *[ng-click] {
	cursor: pointer;
}
.sortorder:after {
  content: '\25b2';
}
.sortorder.reverse:after {
  content: '\25bc';
}

/* animate */
.ng-enter,
.ng-leave,
.ng-move {
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
.ng-enter,
.ng-move {
	opacity: 0.5;
}
.ng-enter-active,
.ng-move-active {
	opacity: 1;
}
.ng-leave {
	opacity: 1;
}
.ng-leave-active {
	opacity: 0;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://code.angularjs.org/1.5.6/angular.js"></script>
<script src="http://code.angularjs.org/1.5.6/angular-animate.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/video.js"></script>
<script type="text/javascript" src="video-prototype.js"></script>
<script type="text/javascript">
"use strict";
var videoList;
var videoPath = "/video";

var app = angular.module("videoApp", ['ngAnimate']);
app.controller("videoController", function($scope, $http) {
//	$scope.rows = gwInfos;
	$http({
		url : "/video/list.json"
	}).then(function success(response) {
		var videoList = new Array();
		$.each(response.data.videoList, function(entryIndex, entry) {
			var video = new Video(entry);
			videoList.push(video)
		});
		$scope.videoList = videoList;
	}, function error(response) {
		// error
	});
	$scope.predicate = '';
	$scope.reverse = false;
	$scope.order = function(predicate) {
	    $scope.reverse = ($scope.predicate === predicate) ? !$scope.reverse : false;
	    $scope.predicate = predicate;
	};
	$scope.videoDetail = function(opus) {
		fnVideoDetail(opus);
	} 
	$scope.actressDetail = function(actressName) {
		console.log(actressName);
		fnViewActressDetail(actressName);
	} 
});
</script>
</head>
<body>
	<div class="container">
		<h1>video list</h1>

		<div ng-app="videoApp">
			<table ng-controller="videoController" class="table table-condensed table-hover table-responsive">
				<thead>
					<tr>
						<th ng-click="order('studio')"  >Studio   <span class="sortorder" ng-show="predicate === 'studio'"   ng-class="{reverse:reverse}"></span></th>
						<th ng-click="order('opus')"    >Opus     <span class="sortorder" ng-show="predicate === 'opus'"     ng-class="{reverse:reverse}"></span></th>
						<th ng-click="order('title')"   >Title    <span class="sortorder" ng-show="predicate === 'title'"    ng-class="{reverse:reverse}"></span></th>
						<th ng-click="order('actress')" >Actress  <span class="sortorder" ng-show="predicate === 'actress'"  ng-class="{reverse:reverse}"></span></th>
						<th ng-click="order('released')">Released <span class="sortorder" ng-show="predicate === 'released'" ng-class="{reverse:reverse}"></span></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="video in videoList | orderBy:predicate:reverse">
						<td><span class="label label-plain">{{ video.studio.name }}</span></td>
						<td><span class="label label-plain" ng-click="videoDetail(video.opus)">{{ video.opus }}</span></td>
						<td class="nowarp"><span class="label label-plain">{{ video.title }}</span></td>
						<td><span ng-repeat="actress in video.actressList" class="label label-plain" ng-click="actressDetail(actress.name)">
								{{ actress.name }}
							</span></td>
						<td><span class="label label-plain">{{ video.releaseDate }}</span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<iframe id="actionIframe" style="display:none;"></iframe>
</body>
</html>