<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Video prototype test</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap-crazy.css">
<style type="text/css">
*[onclick], *[data-ng-click] {
	cursor: pointer;
}
.sortorder:after {
  content: '\25b2';
}
.sortorder.reverse:after {
  content: '\25bc';
}

/* animate */
.data-ng-enter,
.data-ng-leave,
.data-ng-move {
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
.data-ng-enter,
.data-ng-move {
	opacity: 0.5;
}
.data-ng-enter-active,
.data-ng-move-active {
	opacity: 1;
}
.data-ng-leave {
	opacity: 1;
}
.data-ng-leave-active {
	opacity: 0;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://code.angularjs.org/1.5.6/angular.js"></script>
<script src="http://code.angularjs.org/1.5.6/angular-animate.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/video.js"></script>
<script type="text/javascript" src="video-prototype.js"></script>
<script type="text/javascript">
"use strict";
var videoList;
var videoPath = "/video";

var app = angular.module("videoApp", ['ngAnimate']);
app.controller("videoController", function($scope, $http) {
	$scope.videoList = [];
	$scope.predicate = 'opus';
	$scope.reverse = false;
	$scope.order = function(predicate) {
	    $scope.reverse = ($scope.predicate === predicate) ? !$scope.reverse : false;
	    $scope.predicate = predicate;
	};
	$scope.videoDetail = function(opus) {
		fnVideoDetail(opus);
	}; 
	$scope.actressDetail = function(actressName) {
		console.log(actressName);
		fnViewActressDetail(actressName);
	};

	$http({
		url : "/video/list.json"
	}).then(function success(response) {
		var _videoList = new Array();
		$.each(response.data.videoList, function(entryIndex, entry) {
			var video = new Video(entry);
			_videoList.push(video)
		});
		$scope.videoList = _videoList;
		console.log("video size ", $scope.videoList.length);
	}, function error(response) {
		// error
	});

});
</script>
</head>
<body>
	<div class="container">
		<h1>video list</h1>

		<div data-ng-app="videoApp">
			<table data-ng-controller="videoController" class="table table-condensed table-hover table-responsive">
				<thead>
					<tr>
						<th data-ng-click="order('studio')"  >Studio   <span class="sortorder" data-ng-show="predicate === 'studio'"   data-ng-class="{reverse:reverse}"></span></th>
						<th data-ng-click="order('opus')"    >Opus     <span class="sortorder" data-ng-show="predicate === 'opus'"     data-ng-class="{reverse:reverse}"></span></th>
						<th data-ng-click="order('title')"   >Title    <span class="sortorder" data-ng-show="predicate === 'title'"    data-ng-class="{reverse:reverse}"></span></th>
						<th data-ng-click="order('actress')" >Actress  <span class="sortorder" data-ng-show="predicate === 'actress'"  data-ng-class="{reverse:reverse}"></span></th>
						<th data-ng-click="order('released')">Released <span class="sortorder" data-ng-show="predicate === 'released'" data-ng-class="{reverse:reverse}"></span></th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="video in videoList | orderBy:predicate:reverse">
						<td>
							<span class="label label-plain">{{ video.studio.name }}</span>
						</td>
						<td>
							<span class="label label-plain" data-ng-click="videoDetail(video.opus)">{{ video.opus }}</span>
						</td>
						<td class="nowarp">
							<span class="label label-plain">{{ video.title }}</span>
						</td>
						<td>
							<span data-ng-repeat="actress in video.actressList" data-ng-click="actressDetail(actress.name)" class="label label-plain">
								{{ actress.name }}
							</span>
						</td>
						<td>
							<span class="label label-plain">{{ video.releaseDate }}</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<iframe id="actionIframe" style="display:none;"></iframe>

</body>
</html>