<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-layout-decorator="layout/crazy">
<head>
<meta charset="UTF-8"></meta>
<title th:text="${actress.name}">actress.name</title>
<link rel="stylesheet" type="text/css" media="screen" href="/css/videoMain.css" th:href="@{/css/videoMain.css}"/>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function(){
	/* 
	var queryUrl = context + 'image/google.json?q=' + [[${actress.name}]]; 
	$.getJSON(queryUrl ,function(data) {
		$('#foundList').empty();
		
		var videoRow = data['URLList'];
		$.each(videoRow, function(entryIndex, entry) {
			var url = entry;
			var li  = $("<li>");
			li.css("display", "inline-block");
			var img = $("<img>");
			img.attr("src", url);
			img.attr("width", "200px;");
			img.bind("click", function() {
				popupImage(url);
			});
			li.append(img);
			$('#foundList').append(li);
		});
	});
	 */
});

/**
 * @deprecated
 */
function fnRenameTo() {
	var actressForm = document.forms['actressForm'];
	actressForm.action = [[@{'/video/actress/' + ${actress.name} + '/renameTo/'}]] + $("#newName").val();
	actressForm.submit();
}

function fnSaveActressInfo() {
	loading(true, "Saving...");
	var actressForm = document.forms['actressForm'];
	actressForm.action = [[@{'/video/actress/' + ${actress.name}}]];
	actressForm.submit();
	if (opener) {
		if (opener.location.href.indexOf("video/actress") > -1) 
			opener.location.reload();
	}
}
function toogleFavorite(dom) {
	var favorite = $("#favorite").val() == 'true';
	$("#favoriteTEXT").html(favorite ? '☆' : '★');
	$("#favorite").val(!favorite);
	if (opener) {
		// TODO 메인의 배우 정보 업데이트 해야함
	}
}
/*]]>*/
</script>
</head>
<body>
<div class="container" role="main" data-layout-fragment="content">


<form id="actressForm" method="post" role="form" class="form-horizontal">
	<input type="hidden" name="_method" id="hiddenHttpMethod" value="post"/>
	<input type="hidden" name="name" th:value="${actress.name}"/>
	<input type="hidden" name="favorite" id="favorite" th:value="${actress.favorite}"/>

	<div class="form-group">
		<div class="col-sm-2 text-right">
			<span id="favoriteTEXT" class="label label-danger" onclick="toogleFavorite()" th:text="${actress.favorite} ? '★' : '☆'"></span>
		</div>
		<div class="col-sm-4">
			<input class="form-control" type="text" name="newname"   th:value="${actress.name}"      id="newName" />
		</div>
		<div class="col-sm-4">
			<input class="form-control" type="text" name="localname" th:value="${actress.localName}" />
		</div>
		<div class="col-sm-1">
			<img th:src="@{/img/magnify1.png}" width="12px" th:alt-title="#{video.find-info.actress}" 
				th:onclick="|popup('${@environment.getProperty('url.search.actress') + actress.reverseName}', 'infoActress', 800, 600)|" />
		</div>
		<div class="col-sm-1">
			<span class="label label-info" th:text="|Score ${actress.score}|">Score actress.score</span>
		</div>
	</div>

	<div id="actressImageContainer">
		<ul id="foundList" class="items"></ul>
	</div>

	<div class="form-group">
		<div class="col-sm-3">
			<input class="form-control input-sm" type="text" name="birth"    th:value="${actress.birth}"    placeholder="birth"/>
		</div>
		<div class="col-sm-3">
			<input class="form-control input-sm" type="text" name="bodySize" th:value="${actress.bodySize}" placeholder="body"/>
		</div>
		<div class="col-sm-2">
			<input class="form-control input-sm" type="text" name="height"   th:value="${actress.height}"   placeholder="height"/>
		</div>
		<div class="col-sm-2">
			<input class="form-control input-sm" type="text" name="debut"    th:value="${actress.debut}"    placeholder="debut"/>
		</div>
		<div class="col-sm-2">
			<button class="btn btn-default btn-sm" style="/*float:right*/" onclick="fnSaveActressInfo()">Save</button>
		</div>
	</div>
	
	<div class="form-group">
		<span class="label label-info">Studio <i class="badge" th:text="${#lists.size(actress.studioList)}">size</i></span>
	</div>

	<div class="form-group" style="padding-left:60px;">
		<span th:each="studio : ${actress.studioList}" class="label label-primary" th:onclick="|fnViewStudioDetail('${studio.name}')|"
			th:text="|${studio.name}(${#lists.size(studio.videoList)}), Score ${studio.score}|">
			studio.name(length(studio.videoList), Score studio.score </span>
	</div>

	<div class="form-group">
		<span class="label label-info">Video <i class="badge" th:text="${#lists.size(actress.videoList)}">size</i></span>
	</div>
	
	<div class="form-group box" style="padding-left:60px;">
		<ul class="list-inline">
			<li th:each="video : ${actress.videoList}" th:id="|opus-${video.opus}|">
				<div th:replace="video/videoCard :: card (${video})"></div>
			</li>
		</ul>
	</div>

</form>


</div>
</body>
</html>
