<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8"></meta>
</head>
<body>

<th:block th:fragment="tag (actress, view)" th:with="size=${#lists.size(actress.videoList)}">

<label th:if="${view} eq 'label'"
	th:class="|item ${T(jk.kamoru.flayon.crazy.Utils).getCssClassNameByItemCount('item', size)}|" 
	th:title="|${actress.localName} ${actress.birth} ${actress.bodySize} ${actress.height} ${actress.debut}|">
	<input type="checkbox" th:field="*{selectedActress}" th:value="${actress.name}" class="sr-only"/>
	<span th:class="'label label-default ' + (${actress.favorite}? 'favorite')" 
		th:id="'checkbox-' + ${#ids.prev('selectedActress')}" th:text="|${actress.name}(${#lists.size(actress.videoList)})|">name</span>
</label>


<span th:if="${view} eq 'span'"
	style="padding: 5px; margin: 5px;" data-toggle="tooltip"
	th:class="'item ' + ${T(jk.kamoru.flayon.crazy.Utils).getCssClassNameByItemCount('item', size)} + ' box nowrap ' + (${actress.favorite}? 'favorite')" 
	th:onclick="|fnViewActressDetail('${actress.name}')|" 
	th:title="${#strings.trim(actress.localName + ' ' + actress.birth + ' ' + actress.bodySize + ' ' + actress.height + ' ' + actress.debut)}"
	th:text="|${actress.name}(${size})|">
	actress.name length(actress.videoList)
</span>

</th:block>
</body>
</html>