<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-layout-decorator="layout/crazy">
<head>
<meta charset="UTF-8"></meta>
<title th:inline="text">[[#{video.actress}]] [[#{video.list}]]</title>
<script th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function(){
	$('[data-toggle="tooltip"]').tooltip();   
});
function sort(selectedSort) {
	var reverseOrder = [[${sort.name()}]] == selectedSort ? [[!${reverse}]] : true;
	location.href = "?sort=" + selectedSort + "&r=" + reverseOrder;
}
/*]]>*/
</script>
</head>
<body>
<div class="container-fluid" role="main" data-layout-fragment="content">

<div id="header_div" class="box">
	<ul class="list-inline">
		<li>
			<label for="search">
				<span th:text="|#{video.total} #{video.actress}|">Total Actress</span>
				<span class="badge" th:text="${#lists.size(actressList)}">actressList size</span>
			</label>
		</li>
		<li>
			<input type="search" name="search" id="search" class="form-control input-sm" th:placeHolder="#{video.search}" onkeyup="searchContent(this.value)"/>
		</li>
	</ul>
</div>

<div id="content_div" class="box">
	<table class="table table-condensed table-hover table-bordered">
		<thead>
			<tr>
				<th>#</th>
				<th th:each="_sort : ${sorts}" th:class="${_sort eq sort}? 'success'">
					<span th:text="#{|actress.sort.${_sort}|}" th:onclick="|sort('${_sort.name()}')|">sort.s.desc</span>
					<th:block th:if="${_sort eq sort}">
						<span th:if="!${reverse}" class="glyphicon glyphicon-chevron-up"></span>
						<span th:if="${reverse}" class="glyphicon glyphicon-chevron-down"></span>
					</th:block>
				</th>
				<th>Age</th>
				<th>Video</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="actress, status : ${actressList}">
				<td class="text-align" th:text="${status.count}">count</td>
				<td><a th:onclick="|fnViewActressDetail('${actress.name}')|" th:text="${actress.name}">actress.name</a></td>
				<td th:text="${actress.favorite}? '★'">★</td>
				<td th:text="${actress.birth}">actress.birth</td>
				<td th:text="${actress.bodySize}">actress.bodySize</td>
				<td class="text-right" th:text="${actress.height}">actress.height</td>
				<td class="text-right" th:text="${actress.debut}">actress.debut</td>
				<td class="text-right" th:text="${#lists.size(actress.videoList)}">length(actress.videoList)</td> 
				<td class="text-right" th:text="${actress.score}">actress.score</td>
				<td th:text="${actress.age}">actress.age</td>
				<td style="width:150px;">
					<div class="nowrap">
						<a class="label label-info" data-toggle="tooltip" data-placement="left" th:each="video : ${actress.videoList}" th:alt-title="${video.title}" th:onclick="|fnViewVideoDetail('${video.opus}')|" th:text="${video.opus}">video.opus</a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</div>
</body>
</html>
