<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-layout-decorator="layout/crazy">
<head>
<meta charset="UTF-8"></meta>
<title th:text="#{video.briefing}">video.briefing</title>
<style type="text/css">
div#content_div.div-box section {
	margin: 2px;
	border-radius:5px; 
	border: 1px solid orange;
}
div#content_div.div-box h3 {
	margin: 2px;
	padding: 5px;
	cursor: pointer;
	text-shadow: 1px 1px 1px white;
	/* background-color: linen;
	border-radius: 5px;
	opacity: 0.75; */
}
div#content_div.div-box h3:hover {
	border-radius:5px; 
	background-color:rgba(255,165,0,.5);
}
div#content_div.div-box article {
	margin: 10px;
	display: none;
}
#videoDiv, #studioDiv, #actressDiv {
	background-color:rgba(255, 255, 255,.5);
}
.h3-toggle-on {
	border: 1px solid blue;
	border-radius:5px; 
	background-color:rgba(255,165,0,.25);
}

.videoCount {
	float:right;
	color:blue;
}
.videoSize {
	float:right;
	color:green;
}
th {
	text-align: center;
}
td {
	border-top: 1px solid gray;
	border-right: 1px solid gray;
}
</style>
<script th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function(){
	
	$("h3").bind("click", function() {
		$(this).next().slideToggle("slow", function() {
			$(this).prev().toggleClass("h3-toggle-on");
		});
	});
	
	$("input:radio[name=viewType]").bind("click", function() {
		var view = $(this).val();
		$("[data-opus]").each(function() {
			if (view == 'normal') {
				$(this).html($(this).attr("data-opus"));
			}
			else {
				$(this).html('O');
			}
		});
	}).css("display","none");
	// set initial view
	$('input:radio[name=viewType]:nth(1)').click();
	
});
var MOVE_WATCHED_VIDEO = [[${MOVE_WATCHED_VIDEO}]];
var DELETE_LOWER_RANK_VIDEO = [[${DELETE_LOWER_RANK_VIDEO}]];
var DELETE_LOWER_SCORE_VIDEO = [[${DELETE_LOWER_SCORE_VIDEO}]];

function setMOVE_WATCHED_VIDEO() {
	MOVE_WATCHED_VIDEO = !MOVE_WATCHED_VIDEO;
	actionFrame([[@{/video/set/MOVE_WATCHED_VIDEO/}]] + MOVE_WATCHED_VIDEO, "POST", "Set Watched Video to " + MOVE_WATCHED_VIDEO);
	$("#MOVE_WATCHED_VIDEO").html("" + MOVE_WATCHED_VIDEO);
}
function setDELETE_LOWER_RANK_VIDEO() {
	DELETE_LOWER_RANK_VIDEO = !DELETE_LOWER_RANK_VIDEO;
	actionFrame([[@{/video/set/DELETE_LOWER_RANK_VIDEO/}]] + DELETE_LOWER_RANK_VIDEO, "POST", "Set Lower Rank to " + MOVE_WATCHED_VIDEO);
	$("#DELETE_LOWER_RANK_VIDEO").html("" + DELETE_LOWER_RANK_VIDEO);
}
function setDELETE_LOWER_SCORE_VIDEO() {
	DELETE_LOWER_SCORE_VIDEO = !DELETE_LOWER_SCORE_VIDEO;
	actionFrame([[@{/video/set/DELETE_LOWER_SCORE_VIDEO/}]] + DELETE_LOWER_SCORE_VIDEO, "POST", "Set Lower Score to " + MOVE_WATCHED_VIDEO);
	$("#DELETE_LOWER_SCORE_VIDEO").html("" + DELETE_LOWER_SCORE_VIDEO);
}
/*]]>*/
</script>
</head>
<body>
<div class="container" role="main" data-layout-fragment="content">

<div id="header_div" class="div-box">
	<label class="item sort-item"><input type="radio" name="viewType" value="normal"/><span>Normal</span></label>
	<label class="item sort-item"><input type="radio" name="viewType" value="simple"/><span>Simple</span></label>

	<em th:text="|Max : ${@environment.getProperty('size.video.storage')} GB|"></em>
				
	<div style="float:right">
		<ul class="menu-item-ul">
			<li class="label-large">
				<a th:onclick="|actionFrame(@{/video/manager/moveWatchedVideo}, 'POST', 'Moving Watched Video')|" th:text="#{video.mng.move}">video.mng.move</a>
				<span class="label"><a id="MOVE_WATCHED_VIDEO" onclick="setMOVE_WATCHED_VIDEO()" th:text="${MOVE_WATCHED_VIDEO}">MOVE_WATCHED_VIDEO</a></span>
			</li>
			<li class="label-large">
				<a th:onclick="|actionFrame(@{/video/manager/removeLowerRankVideo}, 'POST', 'Deleting Lower Rank')|" th:text="#{video.mng.rank}">video.mng.rank</a>
				<span class="label"><a id="DELETE_LOWER_RANK_VIDEO" onclick="setDELETE_LOWER_RANK_VIDEO()" th:text="${DELETE_LOWER_RANK_VIDEO}">DELETE_LOWER_RANK_VIDEO</a></span>
			</li>
			<li class="label-large">
				<a th:onclick="|actionFrame(@{/video/manager/removeLowerScoreVideo}, 'POST', 'Deleting Lower Score')|" th:text="#{video.mng.score}">video.mng.score</a>
				<span class="label"><a id="DELETE_LOWER_SCORE_VIDEO" onclick="setDELETE_LOWER_SCORE_VIDEO()" th:text="${DELETE_LOWER_SCORE_VIDEO}">DELETE_LOWER_SCORE_VIDEO</a></span>
			</li>
			<li class="label-large">
				<a th:onclick="|actionFrame(@{/video/reload}, 'POST', 'Reloading')|" th:text="#{video.reload.title}">video.reload.title</a>
			</li>
		</ul>
	</div>
</div>

<div id="content_div" class="div-box" style="overflow:auto; text-align:left;" th:with="ONE_GB=${1024*1024*1024}">

	<section>
		<h3 th:text="#{video.video-by-folder}">video.video-by-folder</h3>
		<article>
			<table class="video-table" style="background-color:lightgray">
				<tr>
					<th style="text-align:left;"  th:text="#{video.folder}">video.folder</th>
					<th style="text-align:right;" th:text="#{video.size}">video.size</th>
					<th style="text-align:right;" th:text="#{video.length}">video.length</th>
				</tr>
				
				<tr th:each="path, status : ${pathMap}" th:if="${path.key} ne 'Total'">
					<td th:text="${path.key}">path.key</td>
					<td><span class="videoCount" th:text="${path.value[0]}">path.value[0]</span></td>
					<td><span class="videoSize"  th:text="${#numbers.formatDecimal(path.value[1] / ONE_GB, 0, 1)} + 'GB'">path.value[1]</span></td>
				</tr>

				<tr th:each="path, status : ${pathMap}" th:if="${path.key} eq 'Total'">
					<td style="border-top:1px double blue;" th:text="#{video.total}">video.total</td>
					<td style="border-top:1px double blue;"><span class="videoCount" th:text="${path.value[0]}">path.value[0]</span></td>
					<td style="border-top:1px double blue;"><span class="videoSize"  th:text="${#numbers.formatDecimal(path.value[1] / ONE_GB, 0, 1)} + 'GB'">path.value[1]</span></td>
				</tr>
			</table>
		</article>
	</section>

	<section>
		<h3 th:text="#{video.video-by-date}">video.video-by-date</h3>
		<article>
			<table class="video-table" style="background-color:lightgray">
				<tr>
					<th class="nowrap width50" th:text="#{video.date}">video.date</th>
					<th class="nowrap width-rank">Rank 0</th>
					<th class="nowrap width-rank">Rank 1</th>
					<th class="nowrap width-rank">Rank 2</th>
					<th class="nowrap width-rank">Rank 3</th>
					<th class="nowrap width-rank">Rank 4</th>
					<th class="nowrap width-rank">Rank 5</th>
				</tr>
				<tr th:each="date,status : ${dateMap}">
					<td class="nowrap"><span th:text="${date.key}">key</span> <span class="videoCount" th:text="${#lists.size(date.value)}">length(date.value)</span></td>
					<td th:id="|rank0-${date.key}|" class="nowrap"></td>
					<td th:id="|rank1-${date.key}|" class="nowrap"></td>
					<td th:id="|rank2-${date.key}|" class="nowrap"></td>
					<td th:id="|rank3-${date.key}|" class="nowrap"></td>
					<td th:id="|rank4-${date.key}|" class="nowrap"></td>
					<td th:id="|rank5-${date.key}|" class="nowrap"></td>
					<th:block th:each="video,status : ${date.value}">
					<script type="text/javascript" th:inline="javascript">
					/*<![CDATA[*/
						var vItem = $("<span>");
						vItem.addClass("label");
						vItem.attr("data-opus", [[${video.opus}]]);
						vItem.attr("onclick", "fnViewVideoDetail([[${video.opus}]])");
						vItem.attr("title", [[${video.fullname}]]);
						$([[|#rank${video.rank}-${date.key}|]]).append(vItem);
					/*]]>*/
					</script>
					</th:block>
				</tr>
			</table>
		</article>
	</section>

	<section>
		<h3 th:text="#{video.video-by-play}">video.video-by-play</h3>
		<article>
			<table class="video-table" style="background-color:lightgray">
				<tr>
					<th class="nowrap width50">Play</th>
					<th class="nowrap width-rank">Rank 0</th>
					<th class="nowrap width-rank">Rank 1</th>
					<th class="nowrap width-rank">Rank 2</th>
					<th class="nowrap width-rank">Rank 3</th>
					<th class="nowrap width-rank">Rank 4</th>
					<th class="nowrap width-rank">Rank 5</th>
				</tr>
				<tr th:each="play, status : ${playMap}">
					<td class="nowrap"><span th:text="${play.key}">play.key</span> <span class="videoCount" th:text="${#lists.size(play.value)}">play.value</span></td>
					<td th:id="|rank0-${play.key}|" class="nowrap"></td>
					<td th:id="|rank1-${play.key}|" class="nowrap"></td>
					<td th:id="|rank2-${play.key}|" class="nowrap"></td>
					<td th:id="|rank3-${play.key}|" class="nowrap"></td>
					<td th:id="|rank4-${play.key}|" class="nowrap"></td>
					<td th:id="|rank5-${play.key}|" class="nowrap"></td>
					<th:block th:each="video,status : ${play.value}"> 
					<script type="text/javascript" th:inline="javascript">
					/*<![CDATA[*/
						var vItem = $("<span>");
						vItem.addClass("label");
						vItem.attr("data-opus", [[${video.opus}]]);
						vItem.attr("onclick", "fnViewVideoDetail([[${video.opus}]])");
						vItem.attr("title", [[${video.fullname}]]);
						$([[|#rank${video.rank}-${play.key}|]]).append(vItem);
					/*]]>*/
					</script>
					</th:block>
				</tr>
			</table>
		</article>
	</section>

	<section>
		<h3 th:text="#{video.video-by-rank}">video.video-by-rank</h3>
		<article>
			<table class="video-table" style="background-color:lightgray">
				<tr>
					<th class="nowrap width80" th:text="#{video.rank}">video.rank</th>
					<th class="nowrap width60" th:text="#{video.length}">video.length</th>
					<th class="nowrap" th:text="video.video">video.video</th>
				</tr>
				<tr th:each="rank,status : ${rankMap}">
					<td class="nowrap"><span th:text="${rank.key}"></span> <span class="videoCount" th:text="${#lists.size(rank.value)}">length(rank.value)</span></td>
					<td class="nowrap right" th:with="totalLength=${T(jk.kamoru.flayon.crazy.Utils).sumOfVideoList(rank.value)}">
						<span class="videoSize" th:text="${#numbers.formatDecimal(totalLength / ONE_GB, 0, 1)} + 'GB'"></span>
					</td>
					<td class="nowrap">
						<th:block th:each="video : ${rank.value}">
							<span th:replace="video/videoTag :: tag (${video}, 'label',     's', '')"></span>
						</th:block>
					</td>
				</tr>
			</table>
		</article>
	</section>
	
	<section>
		<h3 th:text="#{video.video-by-score}">video.video-by-score</h3>
		<article>
			<table class="video-table" style="background-color:lightgray">
				<tr>
					<th class="nowrap width80" th:text="#{video.score}">video.score</th>
					<th class="nowrap width60" th:text="#{video.length}">video.length</th>
					<th class="nowrap width60" th:text="#{video.length.sum}">video.length.sum</th>
					<th class="nowrap" th:text="#{video.video}">video.video</th>
				</tr>
				<c:set var="totalLength" value="0"/>
				<c:forEach items="${scoreMap}" var="score" varStatus="status">
					<c:set var="stepLength" value="0"/>
					<c:forEach items="${score.value}" var="video" varStatus="status">
						<c:set var="stepLength"  value="${stepLength + video.length}"/>
						<c:set var="totalLength" value="${totalLength + video.length}"/>
					</c:forEach>
				<tr th:each="score,status : ${scoreMap}">
					<td class="nowrap"><span th:text="${score.key}"></span> <span class="videoCount" th:text="${#lists.size(score.value)}">length(score.value)</span></td>
					<td class="nowrap right" th:with="">
						<span class="videoSize"><fmt:formatNumber value="${stepLength / ONE_GB}" pattern="#,##0 GB"/></span>
					</td>
					<td class="nowrap right">
						<span class="videoSize"><fmt:formatNumber value="${totalLength / ONE_GB}" pattern="#,##0 GB"/></span>
					</td>
					<td class="nowrap">
						<c:forEach items="${score.value}" var="video" varStatus="status">
							<jk:video video="${video}" view="label" tooltip="
${video.scoreDesc}"/>
						</c:forEach>
					</td>
				</tr>
				</c:forEach>		
			</table>
		</article>
	</section>
	
</div>
</div>
</body>
</html>