<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-layout-decorator="layout/crazy">
<head>
<meta charset="UTF-8"></meta>
<title th:text="#{video.briefing}">video.briefing</title>
<link rel="stylesheet" type="text/css" media="screen" href="/css/videoMain.css" th:href="@{/css/videoMain.css}"/>
<style type="text/css">
.item:hover {
	z-index: 3;
}
</style>
<script th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function(){

	$("input:radio[name=viewType]").bind("click", function() {
		var view = $(this).val();
		$("[data-opus]").each(function() {
			if (view == 'normal') {
				$(this).html($(this).attr("data-opus"));
			}
			else {
				$(this).html('O');
			}
		});
	}).css("display","none");
	
	// set initial view
	$('input:radio[name=viewType]:nth(1)').click();
	
});
var MOVE_WATCHED_VIDEO = [[${MOVE_WATCHED_VIDEO}]];
var DELETE_LOWER_RANK_VIDEO = [[${DELETE_LOWER_RANK_VIDEO}]];
var DELETE_LOWER_SCORE_VIDEO = [[${DELETE_LOWER_SCORE_VIDEO}]];

function setMOVE_WATCHED_VIDEO() {
	MOVE_WATCHED_VIDEO = !MOVE_WATCHED_VIDEO;
	actionFrame([[@{/video/set/MOVE_WATCHED_VIDEO/}]] + MOVE_WATCHED_VIDEO, "POST", "Set Watched Video to " + MOVE_WATCHED_VIDEO);
	$("#MOVE_WATCHED_VIDEO").html("" + MOVE_WATCHED_VIDEO);
}
function setDELETE_LOWER_RANK_VIDEO() {
	DELETE_LOWER_RANK_VIDEO = !DELETE_LOWER_RANK_VIDEO;
	actionFrame([[@{/video/set/DELETE_LOWER_RANK_VIDEO/}]] + DELETE_LOWER_RANK_VIDEO, "POST", "Set Lower Rank to " + MOVE_WATCHED_VIDEO);
	$("#DELETE_LOWER_RANK_VIDEO").html("" + DELETE_LOWER_RANK_VIDEO);
}
function setDELETE_LOWER_SCORE_VIDEO() {
	DELETE_LOWER_SCORE_VIDEO = !DELETE_LOWER_SCORE_VIDEO;
	actionFrame([[@{/video/set/DELETE_LOWER_SCORE_VIDEO/}]] + DELETE_LOWER_SCORE_VIDEO, "POST", "Set Lower Score to " + MOVE_WATCHED_VIDEO);
	$("#DELETE_LOWER_SCORE_VIDEO").html("" + DELETE_LOWER_SCORE_VIDEO);
}
function moveWatchedVideo() {
	actionFrame([[@{/video/manager/moveWatchedVideo}]], 'POST', 'Moving Watched Video');
}
function removeLowerRankVideo() {
	actionFrame([[@{/video/manager/removeLowerRankVideo}]], 'POST', 'Deleting Lower Rank');
}
function removeLowerScoreVideo() {
	actionFrame([[@{/video/manager/removeLowerScoreVideo}]], 'POST', 'Deleting Lower Score');
}
function reloadVideo() {
	actionFrame([[@{/video/reload}]], 'POST', 'Reloading');
}
/*]]>*/
</script>
</head>
<body>
<div class="container-fluid" role="main" data-layout-fragment="content">

<div id="header_div" class="box">
	<ul class="list-inline">
		<li><label class="btn btn-xs btn-default"><input type="radio" name="viewType" value="normal"/><span>Normal</span></label></li>
		<li><label class="btn btn-xs btn-default"><input type="radio" name="viewType" value="simple"/><span>Simple</span></label></li>
		<li><span class="label label-info">Max : <abbr th:text="${@environment.getProperty('size.video.storage')}"></abbr> GB</span></li>
		<li>
			<div class="btn-group">
				<button class="btn btn-xs btn-default" onclick="moveWatchedVideo()" th:text="#{video.mng.move}"></button>
				<button class="btn btn-xs btn-default" onclick="setMOVE_WATCHED_VIDEO()" th:text="${MOVE_WATCHED_VIDEO}" id="MOVE_WATCHED_VIDEO"></button>
			</div>
			<div class="btn-group">
				<button class="btn btn-xs btn-default" onclick="removeLowerRankVideo()" th:text="#{video.mng.rank}"></button>
				<button class="btn btn-xs btn-default" onclick="setDELETE_LOWER_RANK_VIDEO()" th:text="${DELETE_LOWER_RANK_VIDEO}" id="DELETE_LOWER_RANK_VIDEO"></button>
			</div>
			<div class="btn-group">
				<button class="btn btn-xs btn-default" onclick="removeLowerScoreVideo()" th:text="#{video.mng.score}"></button>
				<button class="btn btn-xs btn-default" onclick="setDELETE_LOWER_SCORE_VIDEO()" th:text="${DELETE_LOWER_SCORE_VIDEO}" id="DELETE_LOWER_SCORE_VIDEO"></button>
			</div>
		</li>
		<li><button type="button" class="btn btn-xs btn-default" onclick="reloadVideo()" th:text="#{video.reload.title}">video.reload.title</button></li>					
	</ul>
</div>

<div id="content_div" class="box" style="overflow:auto;">

 	<ul class="nav nav-tabs">
	    <li class="active"><a data-toggle="tab" href="#folder" th:text="#{video.video-by-folder}">Folder</a></li>
	    <li><a data-toggle="tab" href="#date" th:text="#{video.video-by-date}">Date</a></li>
	    <li><a data-toggle="tab" href="#play" th:text="#{video.video-by-play}">Play</a></li>
		<li><a data-toggle="tab" href="#rank" th:text="#{video.video-by-rank}">Rank</a></li>
		<li><a data-toggle="tab" href="#score" th:text="#{video.video-by-score}">Score</a></li>
		<li><a data-toggle="tab" href="#length" th:text="#{video.video-by-length}">Length</a></li>
		<li><a data-toggle="tab" href="#extension" th:text="#{video.video-by-extension}">Ext</a></li>
		<li><a data-toggle="tab" href="#video"><span th:text="#{video.video}"></span> <span class="badge" th:text="${#lists.size(videoList)}"></span></a></li>
		<li><a data-toggle="tab" href="#studio"><span th:text="#{video.studio}"></span> <span class="badge" th:text="${#lists.size(studioList)}"></span></a></li>
		<li><a data-toggle="tab" href="#actress"><span th:text="#{video.actress}"></span> <span class="badge" th:text="${#lists.size(actressList)}"></span></a></li>
		<li><a data-toggle="tab" href="#tags"><span th:text="#{video.tags}"></span> <span class="badge" th:text="${tagList.size()}"></span></a></li>
  	</ul>

	<div class="tab-content">
		<section id="folder" class="tab-pane fade in active">
			<table class="table table-condensed table-hover table-bordered">
				<thead>
					<tr>
						<th th:text="#{video.folder}">video.folder</th>
						<th th:text="#{video.size}">video.size</th>
						<th th:text="#{video.length}">video.length</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="path, status : ${pathMap}" th:if="${path.key} ne 'Total'">
						<td th:text="${path.key}">path.key</td>
						<td class="text-right"><span th:text="${path.value[0]}">path.value[0]</span></td>
						<td class="text-right"><span  th:text="${T(jk.kamoru.flayon.crazy.Utils).toGBSize(path.value[1])}">path.value[1]</span></td>
					</tr>
	
					<tr th:each="path, status : ${pathMap}" th:if="${path.key} eq 'Total'">
						<td style="border-top:1px double blue;" th:text="#{video.total}">video.total</td>
						<td class="text-right" style="border-top:1px double blue;"><span th:text="${path.value[0]}">path.value[0]</span></td>
						<td class="text-right" style="border-top:1px double blue;"><span th:text="${T(jk.kamoru.flayon.crazy.Utils).toGBSize(path.value[1])}">path.value[1]</span></td>
					</tr>
				</tbody>
			</table>
		</section>

		<section id="date" class="tab-pane fade">
			<table class="table table-condensed table-hover table-bordered">
				<thead>
					<tr>
						<th th:text="#{video.date}">video.date</th>
						<th>Rank 0</th>
						<th>Rank 1</th>
						<th>Rank 2</th>
						<th>Rank 3</th>
						<th>Rank 4</th>
						<th>Rank 5</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="date,status : ${dateMap}" class="nowrap">
						<td style="width:100px;">
							<span th:text="${date.key}">key</span> <span class="badge float-right" th:text="${#lists.size(date.value)}">length(date.value)</span>
						</td>
						<td style="max-width:130px;">
							<div th:id="|rank0-${date.key}|" class="nowrap"></div>
						</td>
						<td style="max-width:130px;">
							<div th:id="|rank1-${date.key}|" class="nowrap"></div>
						</td>
						<td style="max-width:130px;">
							<div th:id="|rank2-${date.key}|" class="nowrap"></div>
						</td>
						<td style="max-width:130px;">
							<div th:id="|rank3-${date.key}|" class="nowrap"></div>
						</td>
						<td style="max-width:130px;">
							<div th:id="|rank4-${date.key}|" class="nowrap"></div>
						</td>
						<td style="max-width:130px;">
							<div th:id="|rank5-${date.key}|" class="nowrap"></div>
						</td>
						<th:block th:each="video,status : ${date.value}">
						<script type="text/javascript" th:inline="javascript">
						/*<![CDATA[*/
							var vItem = $("<span>");
							vItem.addClass("label label-plain");
							vItem.attr("data-opus", [[${video.opus}]]);
							vItem.attr("onclick", "fnViewVideoDetail([[${video.opus}]])");
							vItem.attr("title", [[${video.fullname}]]);
							$([[|#rank${video.rank}-${date.key}|]]).append(vItem);
						/*]]>*/
						</script>
						</th:block>
					</tr>
				</tbody>
			</table>
		</section>

		<section id="play" class="tab-pane fade">
			<table class="table table-condensed table-hover table-bordered">
				<thead>
					<tr>
						<th>Play</th>
						<th>Rank 0</th>
						<th>Rank 1</th>
						<th>Rank 2</th>
						<th>Rank 3</th>
						<th>Rank 4</th>
						<th>Rank 5</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="play, status : ${playMap}" class="nowrap">
						<td style="width:100px;">
							<span th:text="${play.key}">play.key</span> <span class="badge float-right" th:text="${#lists.size(play.value)}">play.value</span>
						</td>
						<td style="max-width:130px;">
							<div th:id="|rank0-${play.key}|" class="nowrap"></div>
						</td>
						<td style="max-width:130px;">
							<div th:id="|rank1-${play.key}|" class="nowrap"></div>
						</td>
						<td style="max-width:130px;">
							<div th:id="|rank2-${play.key}|" class="nowrap"></div>
						</td>
						<td style="max-width:130px;">
							<div th:id="|rank3-${play.key}|" class="nowrap"></div>
						</td>
						<td style="max-width:130px;">
							<div th:id="|rank4-${play.key}|" class="nowrap"></div>
						</td>
						<td style="max-width:130px;">
							<div th:id="|rank5-${play.key}|" class="nowrap"></div>
						</td>
						<th:block th:each="video,status : ${play.value}"> 
						<script type="text/javascript" th:inline="javascript">
						/*<![CDATA[*/
							var vItem = $("<span>");
							vItem.addClass("label label-plain");
							vItem.attr("data-opus", [[${video.opus}]]);
							vItem.attr("onclick", "fnViewVideoDetail([[${video.opus}]])");
							vItem.attr("title", [[${video.fullname}]]);
							$([[|#rank${video.rank}-${play.key}|]]).append(vItem);
						/*]]>*/
						</script>
						</th:block>
					</tr>
				</tbody>
			</table>
		</section>

		<section id="rank" class="tab-pane fade">
			<table class="table table-condensed table-hover table-bordered">
				<thead>
					<tr>
						<th th:text="#{video.rank}">video.rank</th>
						<th th:text="#{video.length}">video.length</th>
						<th th:text="#{video.video}">video.video</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="rank,status : ${rankMap}" class="nowrap">
						<td style="width: 60px;">
							<span th:text="${rank.key}"></span> <span class="badge float-right" th:text="${#lists.size(rank.value)}">length(rank.value)</span>
						</td>
						<td style="width: 80px;" class="text-right" th:with="totalLength=${T(jk.kamoru.flayon.crazy.Utils).sumOfVideoList(rank.value)}">
							<span class="videoSize" th:text="${T(jk.kamoru.flayon.crazy.Utils).toGBSize(totalLength)}"></span>
						</td>
						<td style="max-width: 760px;">
							<div class="nowrap">
								<th:block th:each="video : ${rank.value}">
									<span th:replace="video/videoTag :: tag (${video}, 'opus',     's', '')"></span>
								</th:block>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</section>
	
		<section id="score" class="tab-pane fade">
			<table class="table table-condensed table-hover table-bordered" th:with="totalLength=0">
				<thead>
					<tr>
						<th class="nowrap width80" th:text="#{video.score}">video.score</th>
						<th class="nowrap width60" th:text="#{video.length}">video.length</th>
						<th class="nowrap width60" th:text="#{video.length.sum}">video.length.sum</th>
						<th th:text="#{video.video}">video.video</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="score,status : ${scoreMap}" th:with="stepLength=${T(jk.kamoru.flayon.crazy.Utils).sumOfVideoList(score.value)}">
						<td style="width: 80px;">
							<span th:text="${score.key}"></span> <span class="badge float-right" th:text="${#lists.size(score.value)}">length(score.value)</span>
						</td>
						<td style="width: 80px;" class="text-right">
							<span class="videoSize" th:text="${T(jk.kamoru.flayon.crazy.Utils).toGBSize(stepLength)}" th:title="${stepLength}"></span>
						</td>
						<td style="width: 80px;" class="text-right" th:with="totalLength=${totalLength} + ${stepLength}">
							<span class="videoSize" th:text="${T(jk.kamoru.flayon.crazy.Utils).toGBSize(totalLength)}" th:title="${totalLength}"></span>
						</td>
						<td style="max-width: 660px;">
							<div class="nowrap">
								<th:block th:each="video : ${score.value}">
									<span th:replace="video/videoTag :: tag (${video}, 'opus',     's', ${video.scoreDesc})"></span>
								</th:block>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</section>

		<section id="length" class="tab-pane fade">
			<table class="table table-condensed table-hover table-bordered" th:with="totalLength=0">
				<thead>
					<tr>
						<th th:text="#{video.length}">video.length</th>
						<th th:text="#{video.length.sum}">video.length.sum</th>
						<th th:text="#{video.video}">video.video</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="length,status : ${lengthMap}" th:with="stepLength=${T(jk.kamoru.flayon.crazy.Utils).sumOfVideoList(length.value)}">
						<td style="width: 100px;">
							<span th:text="|${length.key} GB↓ |"></span><span class="badge float-right" th:text="${#lists.size(length.value)}">length(length.value)</span>
						</td>
						<td style="width: 80px;" class="text-right">
							<span class="videoSize" th:text="${T(jk.kamoru.flayon.crazy.Utils).toGBSize(stepLength)}" th:title="${stepLength}"></span>
						</td>
						<td style="max-width: 720px;">
							<div class="nowrap">
								<th:block th:each="video : ${length.value}">
									<span th:replace="video/videoTag :: tag (${video}, 'opus',     's', ${T(jk.kamoru.flayon.crazy.Utils).toGBSize(video.length)})"></span>
								</th:block>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</section>

		<section id="extension" class="tab-pane fade">
			<table class="table table-condensed table-hover table-bordered">
				<thead>
					<tr>
						<th th:text="#{video.extension}">video.extension</th>
						<th th:text="#{video.length}">video.length</th>
						<th th:text="#{video.video}">video.video</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="extension : ${extensionMap}" th:with="stepLength=${T(jk.kamoru.flayon.crazy.Utils).sumOfVideoList(extension.value)}">
						<td style="width: 100px;">
							<span th:text="${extension.key}"></span> <span class="badge float-right" th:text="${#lists.size(extension.value)}">length(extension.value)</span>
						</td>
						<td style="width: 100px;" class="text-right">
							<span class="videoSize" th:text="${T(jk.kamoru.flayon.crazy.Utils).toGBSize(stepLength)}" th:title="${stepLength}"></span>
						</td>
						<td style="max-width: 700px;">
							<div class="nowrap">
								<th:block th:each="video : ${extension.value}">
									<span th:replace="video/videoTag :: tag (${video}, 'opus',     's', '')"></span>
								</th:block>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</section>

		<section id="video" class="tab-pane fade">
			<table class="table table-condensed table-bordered">
				<tr>
					<td>
						<th:block th:each="video : ${videoList}">
							<span th:replace="video/videoTag :: tag (${video}, 'span', '', '')"></span>
						</th:block>
					</td>
				</tr>
			</table>
		</section>

		<section id="studio" class="tab-pane fade">
			<table class="table table-condensed table-bordered">
				<tr>
					<td>
						<th:block th:each="studio : ${studioList}">
							<span th:replace="video/studioTag :: tag (${studio}, 'span')"></span>
						</th:block>
					</td>
				</tr>
			</table>
		</section>

		<section id="actress" class="tab-pane fade">
			<table class="table table-condensed table-bordered">
				<tr>
					<td>
						<th:block th:each="actress : ${actressList}">
							<span th:replace="video/actressTag :: tag (${actress}, 'span')"></span>
						</th:block>
					</td>
				</tr>
			</table>
		</section>

		<section id="tags" class="tab-pane fade">
			<table class="table table-condensed table-bordered">
				<tr>
					<td>
						<th:block th:each="tag : ${tagList}">
							<span class="label label-plain" th:text="${tag.name}" th:title="${tag.description}"></span>
						</th:block>
						<form action="/video/tag" method="post">
							<input name="name" placeholder="name"/><input name="description" placeholder="Description"/>
							<button type="submit">Regist</button>
						</form>
					</td>
				</tr>
			</table>
		</section>
	
	</div>
	
</div>
</div>
</body>
</html>