<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-layout-decorator="layout/crazy">
<head>
<meta charset="UTF-8"></meta>
<title th:text="|#{video.video} #{video.search}|">video.video video.search</title>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
bgContinue = false;

$(document).ready(function(){
	
	$("#query").bind("keyup", function(e) {
		
		var event = window.event || e;
		$("#debug").html(event.keyCode);
		/* 
		if (!(event.keyCode >= 48 && event.keyCode <= 57) // 0 ~ 9
				&& !(event.keyCode >= 65 && event.keyCode <= 90) // a ~ z
				&& !(event.keyCode >= 96 && event.keyCode <= 105) // keypad : 0 ~ 9
				&& event.keyCode != 109 // keypad : -
				&& event.keyCode != 189 // -
				&& event.keyCode != 8 // backspace
				&& event.keyCode != 13 // enter
				) {
			return;
		}
		 */
		if (event.keyCode != 13) {
			return;
		}

		loading(true, 'Searching');
		 
		var keyword = $(this).val();
		var queryUrl = context + 'video/searchJson?q=' + keyword; 
		
		$.getJSON(queryUrl ,function(data) {
			$('#foundVideoList').empty();
			$('#foundHistoryList').empty();
			$('#foundVideoList').slideUp();
			$('#foundHistoryList').slideUp();
			$("#url").html(queryUrl);

			var videoRow = data['videoList'];
			$("#video-count").html(videoRow.length);
			$.each(videoRow, function(entryIndex, entry) {
				
				var studio 		   = entry['studio'];
				var opus 		   = entry['opus'];
				var title 		   = entry['title'];
				var actress 	   = entry['actress'];
				var existVideo 	   = entry['existVideo'];
				var existCover 	   = entry['existCover'];
				var existSubtitles = entry['existSubtitles'];
				
				var li  = $("<li>");
				var div = $("<div>");

				var studioDom 		  = $("<span>").addClass("label label-plain btn").attr("onclick", "fnViewStudioDetail('" + studio +"')").html(studio);				
				var opusDom 		  = $("<span>").addClass("label label-plain").html(opus);
				var titleDom 		  = $("<span>").addClass("label label-plain btn").attr("onclick", "fnViewVideoDetail('" + opus +"')").html(title);
				var actressDom 		  = $("<span>").addClass("label label-plain btn").attr("onclick", "fnViewActressDetail('" + actress +"')").html(actress);
				var existVideoDom 	  = $("<span>").addClass("label").addClass((existVideo == "true" ? "label-success" : "label-default" )).html("V");
				var existCoverDom 	  = $("<span>").addClass("label").addClass((existCover == "true" ? "label-success" : "label-default" )).html("C");
				var existSubtitlesDom = $("<span>").addClass("label").addClass((existSubtitles == "true" ? "label-success" : "label-default" )).html("S");

				div.append(studioDom);
				div.append(opusDom);
				div.append(titleDom);
				div.append(actressDom);
				div.append(existVideoDom);
				div.append(existCoverDom);
				div.append(existSubtitlesDom);
				li.append(div);
				$('#foundVideoList').append(li);
			});

			var historyRow = data['historyList'];
			$("#history-count").html(historyRow.length);
 			$.each(historyRow, function(entryIndex, entry) {
				
				var date = entry['date'];
				var opus = entry['opus'];
				var act  = entry['act'];
				var desc = entry['desc'];
				
				var li  = $("<li>");
				var div = $("<div>");

				var dateDom 		  = $("<span>").addClass("label label-plain").html(date);
				var opusDom 		  = $("<span>").addClass("label label-plain btn").attr("onclick", "fnViewVideoDetail('" + opus +"')").html(opus);
				var actDom	 		  = $("<span>").addClass("label label-plain").html(act);
				var descDom 		  = $("<span>").addClass("label label-plain").html(desc);

				div.append(dateDom);
				div.append(opusDom);
				div.append(actDom);
				div.append(descDom);
				li.append(div);
				$('#foundHistoryList').append(li);
			}); 

 		    var rexp = eval('/' + keyword + "/gi");
 		    $("div > ol > li > div > span").each(function() {
 				$(this).html($(this).html().replace(rexp,"<mark>"+keyword+"</mark>"));
 			});

 		    $('#foundVideoList').slideDown();
 			$('#foundHistoryList').slideDown();
			resizeDivHeight();
			
			loading(false);
		});
	});
});
 
function resizeSecondDiv() {
	var contentDivHeight = $("#content_div").outerHeight();
	var calculatedDivHeight = (contentDivHeight) / 2 - 15; 

	$("#resultVideoDiv").outerHeight(calculatedDivHeight);	
	$("#resultHistoryDiv").outerHeight(calculatedDivHeight);	
}

function fnSearchOpus() {
	popup([[${@environment.getProperty('url.search.video')}]] + $("#query").val(), 'videoSearch', 900, 950);
}
function fnSearchActress() {
	popup([[${@environment.getProperty('url.search.actress')}]] + $("#query").val(), 'actressSearch', 900, 950);
}
function fnSearchTorrent() {
	popup([[${@environment.getProperty('url.search.torrent')}]] + $("#query").val(), 'torrentSearch', 900, 950);
}
/*]]>*/
</script>
</head>
<body>
<div class="container" role="main" data-layout-fragment="content">

	<div id="header_div" class="box form-inline">
		<label for="query" th:text="|#{video.video} #{video.search}|">video.video video.search</label>
		<input type="search" id="query" style="width:200px;" class="form-control input-sm" th:placeHolder="#{video.search}"/>
		<div class="btn-group">
			<a class="btn btn-xs btn-default" onclick="fnSearchOpus()"    th:title="#{video.find-info.opus}"    th:text="#{video.opus}">video.opus</a>
			<a class="btn btn-xs btn-default" onclick="fnSearchActress()" th:title="#{video.find-info.actress}" th:text="#{video.actress}">video.actress</a>
			<a class="btn btn-xs btn-default" onclick="fnSearchTorrent()" th:title="#{video.find-info.torrent}" th:text="#{video.torrent}">video.torrent</a>
		</div>
		<span id="url"></span>
		<span id="debug"></span>
	</div>

	<div id="content_div" class="row">
		<div class="col-lg-6">
			<div id="resultVideoDiv" class="box" style="overflow:auto">
				<h4><span th:text="#{video.video}"></span> <span id="video-count" class="badge"></span></h4>
				<ol id="foundVideoList" class="items"></ol>
			</div>
		</div>
		<div class="col-lg-6">
			<div id="resultHistoryDiv" class="box" style="overflow:auto">
				<h4><span th:text="#{video.history}"></span> <span id="history-count" class="badge"></span></h4>
				<ol id="foundHistoryList" class="items"></ol>
			</div>
		</div>
	</div>

</div>
</body>
</html>