<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8"></meta>
</head>
<body>

<span th:fragment="tag (studio, view)" th:with="size=${#lists.size(studio.videoList)}">


<label th:if="${view} eq 'label'"
	th:class="|item item${size}|" 
	th:title="|${#objects.nullSafe(studio.homepage, '')} ${studio.company} Actress:${#lists.size(studio.actressList)}|">
	<input type="checkbox" th:field="*{selectedStudio}" th:value="${studio.name}" class="item-checkbox"/>
	<span th:text="|${studio.name}(${#lists.size(studio.videoList)})|">name length(actress.videoList)</span>
</label>

<span th:if="${view} eq 'span'"
	th:class="|item${size}|" 
	th:onclick="|fnViewStudioDetail('${studio.name}')|" 
	th:title="|${studio.homepage} ${studio.company} Actress:${#lists.size(studio.actressList)}|"
	th:text="|${studio.name}(${#lists.size(studio.videoList)})|">
	studio.name length(studio.videoList)
</span>

</span>
</body>
</html>