<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-layout-decorator="layout/crazy">
<head>
<meta charset="UTF-8"></meta>
<title th:text="|#{video.studio} #{video.list}|"></title>
<script th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function() {
	$('[data-toggle="tooltip"]').tooltip();   
});
function sort(selectedSort) {
	var reverseOrder = [[${sort.name()}]] == selectedSort ? [[!${reverse}]] : true;
	location.href = "?sort=" + selectedSort + "&r=" + reverseOrder;
}
/*]]>*/
</script>
</head>
<body>
<div class="container" role="main" data-layout-fragment="content">

<div id="header_div" class="box">
	<ul class="list-inline">
		<li>
			<label for="search">
				<span th:text="|#{video.total} #{video.studio}|">Total Studio</span>
				<span class="badge" th:text="${#lists.size(studioList)}">length(studioList)</span>
			</label> 
		</li>
		<li>
			<input type="search" name="search" id="search" class="form-control input-sm" th:placeHolder="#{video.search}" onkeyup="searchContent(this.value)"/>
		</li>
	</ul>
</div>

<div id="content_div" class="box">
	<table class="table table-condensed table-hover table-bordered">
		<thead>
			<tr>
				<th>#</th>
				<th th:each="_sort : ${sorts}" th:class="${_sort eq sort}? 'success'">
					<span th:text="#{|studio.sort.${_sort}|}" th:onclick="|sort('${_sort.name()}')|">sort.s.desc</span>
					<th:block th:if="${_sort eq sort}">
						<span th:if="!${reverse}" class="glyphicon glyphicon-chevron-up"></span>
						<span th:if="${reverse}" class="glyphicon glyphicon-chevron-down"></span>
					</th:block>
				</th>
				<th>Video</th>
			</tr>
		</thead>
		<tbody>
			<tr class="nowrap" th:each="studio, status : ${studioList}">
				<td class="text-right" th:text="${status.count}">count</td>
				<td><a th:onclick="|fnViewStudioDetail('${studio.name}')|" th:text="${studio.name}">studio.name</a></td>
				<td><a th:href="${studio.homepage}" target="_blank" th:text="${studio.homepage}">studio.homepage</a></td>
				<td th:text="${studio.company}">studio.company</td>
				<td class="text-right" th:text="${#lists.size(studio.videoList)}">length(studio.videoList)</td>
				<td class="text-right" th:text="${studio.score}">studio.score</td>
				<td style="width:150px;">
					<div class="nowrap">
						<span class="label label-info" data-toggle="tooltip" data-placement="left" th:each="video : ${studio.videoList}" th:title="${video.title}" th:onclick="|fnViewVideoDetail('${video.opus}')|" th:text="${video.opus}">video.opus</span>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</div>
</body>
</html>
