<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title th:inline="text">[[#{video.torrent}]] [[#{video.search}]] [[${video.opus}]]</title>
<script th:inline="javascript">
/*<![CDATA[*/
bgContinue = false;
//popup('<c:url value="/video/${video.opus}/cover/title"/>', 'SearchTorrentCover', 800, 600);
//window.open('<c:url value="/video/${video.opus}/cover/title"/>', 'SearchTorrentCover')
$(document).ready(function() {
	//location.href = [[${@environment.getProperty('url.search.torrent')}]] + [[${video.opus}]];
});
/*]]>*/
</script>
</head>
<body>

<div class="div-box">
	<h3>Image Popup</h3>
	<p>
		<a th:href="@{/video/{video.opus}/cover/title}" target="_blank" th:text="@{'/video/' + ${video.opus} + '/cover/title'}">/video/{video.opus}/cover/title</a>
	</p>
</div>

<div class="div-box">
	<h3>Search Torrent</h3>
	<p>
		<a th:href="@{${@environment.getProperty('url.search.torrent')} + ${video.opus}}" target="_blank" th:text="@{${@environment.getProperty('url.search.torrent')} + ${video.opus}}">url.search.torrent {video.opus}</a>
	</p>
</div>	
	
</body>
</html>
