<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8"></meta>
</head>
<body>

<th:block th:fragment="tag (video, view, mode, tooltip)" th:with="cssClass='label label-plain'">

<th:block th:if="${view} eq 'video'" >
	<span th:text="${mode} eq 's' ? 'V' : 'Video'" data-toggle="tooltip" data-placement="right"
		th:class="${cssClass}" 
		th:classappend="${video.existVideoFileList} ? 'exist' : 'nonExist'" 
		th:alt-title="${video.existVideoFileList} ? ${video.playCount} + ' played' : 'nonExist'"
		th:onclick="|fnPlay('${video.opus}')|"></span>
	<em th:if="${mode} eq 'l' and ${video.existVideoFileList}" th:class="${cssClass}" th:text="${video.size}"></em>
	<em th:if="${mode} eq 'l' and ${video.existVideoFileList}" th:class="${cssClass}" th:text="${T(jk.kamoru.flayon.crazy.Utils).toGBSize(video.length)}"></em>
</th:block>

<span th:if="${view} eq 'cover'" data-toggle="tooltip" data-placement="right"
		th:class="${cssClass}" 
		th:classappend="${video.existCoverFile} ? 'exist' : 'nonExist'"
		th:onclick="|fnImageView('${video.opus}')|"
		th:alt-title="'Cover ' + (${video.existCoverFile} ? 'exist' : 'nonExist')"
		th:text="${mode} eq 's' ? 'C' : 'Cover'">Cover</span>		

<span th:if="${view} eq 'subtitles'" data-toggle="tooltip" data-placement="right"
		th:class="${cssClass}" 
		th:classappend="${video.existSubtitlesFileList} ? 'exist' : 'nonExist'"
		th:onclick="|fnEditSubtitles('${video.opus}')|"
		th:alt-title="'Subtitles ' + (${video.existSubtitlesFileList} ? 'exist' : 'nonExist')"
		th:text="${mode} eq 's' ? 's' : 'smi'">smi</span>

<span th:if="${view} eq 'overview'" 
		th:class="${cssClass}"
		th:classappend="!${#strings.isEmpty(video.overviewText)} ? 'exist' : 'nonExist2'"
		th:id="|overview-${video.opus}|"
		th:onclick="|fnEditOverview('${video.opus}')|"
		th:alt-title="${video.overviewText}"
		th:utext="${mode} eq 's' ? 'O' : (${#strings.isEmpty(video.overviewText)} ? 'Overview' : ${video.overviewText})">Overview</span>

<span th:if="${view} eq 'download'"
		th:class="${cssClass}" title="download date" th:text="${video.videoDate}">download date</span>
	
<span th:if="${view} eq 'release'"
		th:class="${cssClass}" title="release date" th:text="${video.releaseDate}">release Date</span>

<span th:if="${view} eq 'actress'" 
		th:each="actress : ${video.actressList}"
		th:class="${cssClass}"
		th:alt-title="${actress}">
	<span th:text="${actress.name}" th:onclick="|fnViewActressDetail('${actress.name}')|">name</span>
	<span th:if="${mode} eq 'l'">
		<em th:text="${actress.age}">age</em>
		<span th:onclick="|fnFavorite(this, '${actress.name}')|" th:text="${#bools.isTrue(actress.favorite)} ? '★' : '☆'">favorite</span>
		<img th:src="@{/img/magnify1.png}" width="12px" th:alt-title="#{video.find-info.actress}" 
			th:onclick="|popup('${@environment.getProperty('url.search.actress') + actress.reverseName}', 'info_${actress.name}', 800, 600)|"/>
	</span> 		
</span>

<span th:if="${view} eq 'opus'"
		th:class="${cssClass}">
	<span th:text="${video.opus}" th:title="|${video.title} ${tooltip}|" th:attr="data-opus=${video.opus}" th:onclick="|fnVideoDetail('${video.opus}')|">opus</span>
	<img th:if="${mode} eq 'l'" th:src="@{/img/magnify1.png}" width="12px" th:alt-title="#{video.find-info.opus}"
			th:onclick="|popup('${@environment.getProperty('url.search.video') + video.opus}', 'info_${video.opus}', 800, 600)|"/>
</span>

<img th:if="${view} eq 'torrent'" 
		th:src="@{/img/magnify1.png}" width="12px" th:alt-title="#{video.find-info.torrent}"
		th:onclick="|popup('${@environment.getProperty('url.search.torrent') + video.opus}', 'torrentDownload', 800, 600); this.style.backgroundColor='red';|"/>

<span th:if="${view} eq 'length'" 
		th:class="${cssClass}"
		th:text="${T(jk.kamoru.flayon.crazy.Utils).toGBSize(video.length)}">size</span>

<span th:if="${view} eq 'studio'"
		th:class="${cssClass}"
		th:onclick="|fnViewStudioDetail('${video.studio.name}')|" th:alt-title="${video.studio}" th:text="${video.studio.name}">video.studio.name</span>

<span th:if="${view} eq 'title'"
		th:class="${cssClass}" data-toggle="tooltip" data-placement="bottom"
		th:onclick="|fnVideoDetail('${video.opus}')|"
		th:alt-title="${video.title}"
		th:text="${mode} neq 's' ? ${video.title} : ${#strings.abbreviate(video.title,22)}"></span>
 
<th:block th:if="${view} eq 'score'">
	<span th:class="${cssClass}" class="label label-plain" th:alt-title="${video.scoreDesc}" th:text="${video.score}"></span>		
	<span th:if="${mode} eq 'l'" th:class="${cssClass}" th:onclick="|fnVideoReset('${video.opus}')|">Reset</span>
	<span th:if="${mode} eq 'l'" th:class="${cssClass}" th:onclick="|fnVideoWrong('${video.opus}')|">Wrong</span>
</th:block>
		
<th:block th:if="${view} eq 'rank'">
	<label>
		<input th:if="${mode} neq 's'" type="range" th:id="|Rank-${video.opus}|" name="points" th:min="${minRank}" th:max="${maxRank}"  
			th:value="${video.rank}" th:onmouseup="|fnRank('${video.opus}')|" class="form-control" 
			th:onchange="|document.getElementById('Rank-${video.opus}-label').innerHTML = this.value;|" />
		<span th:class="${cssClass} + ' rangeLabel'" th:alt-title="'Rank ' + ${video.rank}" th:text="${video.rank}" data-toggle="tooltip" data-placement="right">video.rank</span>
	</label>
</th:block>

<span th:if="${view} eq 'label'"
		th:class="${cssClass} + ' ' + (${mode} eq 's'? 'label-info')" 
		th:onclick="|fnVideoDetail('${video.opus}')|" 
		th:alt-title="|${video.fullname} ${tooltip}|" 
		th:data-opus="${video.opus}"
		th:text="${mode} eq 's' ? 'O' : ${video.opus}">video.opus</span>

<span th:if="${view} eq 'span'" th:with="size=${video.score} / 5"
		style="padding: 5px; margin: 5px;"
		th:class="'item ' + ${T(jk.kamoru.flayon.crazy.Utils).getCssClassNameByItemCount('item', size)} + ' box nowrap'" 
		th:onclick="|fnVideoDetail('${video.opus}')|" 
		th:alt-title="|${video.fullname} ${tooltip} ${video.score}|" 
		th:text="${mode} eq 's' ? 'O' : ${video.opus}">video.opus</span>

</th:block>
</body>
</html>