<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-layout-decorator="layout/crazy">
<head>
<meta charset="UTF-8"></meta>
<title th:inline="text">[[#{video.video}]] [[#{video.list}]]</title>
<script th:inline="javascript">
/*<![CDATA[*/
function sort(selectedSort) {
	var reverseOrder = [[${sort.name()}]] == selectedSort ? [[!${reverse}]] : true;
	location.href = "?sort=" + selectedSort + "&r=" + reverseOrder;
}
/*]]>*/
</script>
</head>
<body>
<div class="container-fluid" role="main" data-layout-fragment="content">

<div id="header_div" class="box form-inline">
	<label for="search"><span th:text="|#{video.total} #{video.video}|">Total Video</span> <span class="badge" th:text="${#lists.size(videoList)}">length(videoList)</span></label>
	<input type="search" name="search" id="search" class="form-control input-sm" th:placeHolder="#{video.search}" onkeyup="searchContent(this.value)"/>
	<span class="label label-info" th:text="|Rank[${@environment.getProperty('score.ratio.rank')}] Play[${@environment.getProperty('score.ratio.play')}] Actress[${@environment.getProperty('score.ratio.actress')}] Subtitles[${@environment.getProperty('score.ratio.subtitles')}]|">Ratio</span>
</div>

<div id="content_div" class="box">
	<table class="table table-condensed table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th th:each="_sort : ${sorts}" th:class="${_sort eq sort}? 'success'">
					<span th:text="#{|video.sort.${_sort.desc}|}" th:onclick="|sort('${_sort.name()}')|">video.sort.s.desc</span>
					<th:block th:if="${_sort eq sort}">
						<span th:if="!${reverse}" class="glyphicon glyphicon-chevron-up"></span>
						<span th:if="${reverse}" class="glyphicon glyphicon-chevron-down"></span>
					</th:block>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="video, status : ${videoList}">
				<td class="text-right" th:text="${status.count}">
					status.count
				</td>
				<td>
					<a th:onclick="|fnViewStudioDetail('${video.studio.name}')|" th:text="${video.studio.name}">video.studio.name</a>
				</td>
				<td>
					<a th:onclick="|fnViewVideoDetail('${video.opus}')|" th:text="${video.opus}">video.opus</a>
				</td>
				<td>
					<span th:title="${video.title}" th:text="${video.title}">video.title</span>
				</td>
				<td>
					<a th:each="actress : ${video.actressList}" th:onclick="|fnViewActressDetail('${actress.name}')|" th:text="${actress.name}">actress.name</a>
				</td>
				<td th:text="${video.releaseDate}">releaseDate</td>
				<td th:text="${video.videoDate}">video.videoDate</td>
				<td class="text-right" th:text="${video.playCount}">video.playCount</td>
				<td class="text-right" th:text="${video.rank}">video.rank</td>
				<td class="text-right" th:text="${T(jk.kamoru.flayon.crazy.Utils).toGBSize(video.length)}"></td>
				<td class="text-right">
					<span th:title="${video.scoreDesc}" th:text="${video.score}">video.score</span>
				</td>
				<td class="text-right" th:text="${video.videoCandidates.size()}">videoCandidates.size</td>
			</tr>
		</tbody>
	</table>
</div>
  
</div>
</body>
</html>
