<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-layout-decorator="layout/crazy">
<head>
<meta charset="UTF-8"></meta>
<title th:inline="text">Archive [ [[${video.opus}]] ] [[${video.title}]]</title>
<script th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function() {
	$("body").css("background-image","url([[@{'/video/' + ${video.opus} + '/cover'}]])");
	$("body").css("background-size", "cover");
});
/*]]>*/
</script>
</head>
<body>
<div class="container" role="main" data-layout-fragment="content">

<dl class="dl-detail">
	<dt><span th:replace="video/videoTag :: tag (${video}, 'title',     'l', '')"></span></dt>
	<dd><span th:replace="video/videoTag :: tag (${video}, 'studio',    'l', '')"></span></dd>
	<dd><span th:replace="video/videoTag :: tag (${video}, 'opus',      'l', '')"></span></dd>
	<dd><span th:replace="video/videoTag :: tag (${video}, 'actress',   'l', '')"></span></dd>
	<dd><span th:replace="video/videoTag :: tag (${video}, 'release',   'l', '')"></span></dd>
	<dd><span th:replace="video/videoTag :: tag (${video}, 'subtitles', 'l', '')"></span></dd>
	<dd><span th:replace="video/videoTag :: tag (${video}, 'overview',  'l', '')"></span></dd>
</dl>

</div>
</body>
</html>
