<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-layout-decorator="layout/crazy">
<head>
<meta charset="UTF-8"></meta>
<title th:text="|#{video.overview} [${video.opus}]|">video.overview video.opus</title>
<style type="text/css">
.overviewTxt {width:100%; height:275px;}
.overviewSave {
	position:absolute; right:0px; top:0px; margin:10px 5px 0px 0px; background-color:lightblue; cursor:pointer;
}
</style>
<script th:inline="javascript">
/*<![CDATA[*/
function overviewSave()
{
	var overview = $(".overviewTxt");
	$([[|#overview-${video.opus}|]], opener.document).text(overview.val());
	var frm = document.forms['overviewFrm'];
	frm.submit();
}
/*]]>*/
</script>
</head>
<body>
<div class="container" role="main" data-layout-fragment="content">

	<form method="post" name="overviewFrm">
		<input type="hidden" name="opus" th:value="${video.opus}"/>
		<textarea class="overviewTxt" name="overViewTxt" th:text="${video.overviewText}">video.overviewText</textarea>
	</form>

	<div tabindex="1" class="overviewSave" onclick="overviewSave()" th:text="#{video.save}">video.save</div>

</div>
</body>
</html>