<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-layout-decorator="layout/crazy">
<head>
<meta charset="UTF-8"></meta>
<title th:text="|#{video.overview} [${video.opus}]|">video.overview video.opus</title>
<style type="text/css">
.overviewSave {
	position:absolute; right:0px; top:0px; margin:10px 5px 0px 0px; background-color:lightblue; cursor:pointer; z-index: 5;
}
</style>
<script th:inline="javascript">
/*<![CDATA[*/
function overviewSave()
{
	var overview = $("#overViewTxt");
	alert(overview.val() + " : " + $([[|#overview-${video.opus}|]], opener.document).text());
	$([[|#overview-${video.opus}|]], opener.document).text(overview.val());
	var frm = document.forms['overviewFrm'];
	frm.submit();
}
function resizeSecondDiv() {
	$("#overViewTxt").height($("#content_div").innerHeight() - 14 - 20);
}
/*]]>*/
</script>
</head>
<body>
<div class="container" role="main" data-layout-fragment="content">

		<button tabindex="1" class="btn btn-default overviewSave" onclick="overviewSave()" th:text="#{video.save}">video.sav</button>

	<div id="content_div" class="box">
		<form method="post" name="overviewFrm" role="form">
			<input type="hidden" name="opus" th:value="${video.opus}"/>
			<textarea class="form-control" id="overViewTxt" name="overViewTxt" th:text="${video.overviewText}">video.overviewText</textarea>
		</form>
	</div>

</div>
</body>
</html>