@charset "UTF-8";

dl {
	margin: 0;
}
/* label */
.label {
    box-shadow: 0 3px 9px rgba(0,0,0,.3);
}
.label-checkbox:hover, .label-radio:hover {
	box-shadow: 0 3px 9px rgba(0,0,0,.6);
	color: #f0ad4e;
}
.inline-block {
	display: inline-block;
}

#header_div {
	font-size: 24px;
}
.separator {
	display: inline-block;
	width: 10px;
}

#content_div {
	overflow: hidden !important;
}

.video-wrapper {
	display: none;
}

/* cover */
.cover-wrapper {
	margin: 20px auto;
}
.cover-wrapper-inner {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 1000px;
	height: 672px;
}
.cover-box {
	display: none;
	width: 100%;
	height: 100%;
	text-shadow: 1px 1px 2px #4c4c4c;
    box-shadow: 0 3px 9px rgba(0,0,0,.3);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 4px;
}

/* info */
.info-wrapper {
	margin-bottom: 10px;
}
.info-wrapper dl dt, .info-wrapper dl dd {
	margin: 4px;
}
.info-wrapper dl dt {
	font-size: 36px;
}
.info-wrapper dl dd {
	font-size: 28px;
}
.info-title, .info-studio, .info-actress, .info-video, .info-overview, .info-subtitles.exist, .info-actress-favorite {
	cursor: pointer;
	margin: 0 5px;
    transition: all 0.3s;
}
.info-title:hover, .info-studio:hover, .info-actress:hover, .info-video:hover, .info-overview:hover, .info-subtitles.exist:hover, .info-actress-favorite:hover {
	color: #111;
    text-shadow: 1px 1px 2px #4c4c4c;
}
.info-actress-extra {
	margin: 0 5px;
	background-color: rgba(255, 255, 255, .75);
}
.info-overview-input {
	border-radius: 8px;
    text-align: center;
    font-family: D2Coding;
    color: #337ab7;
    font-size: 75%;
    border: 1px;
    transition: all 0.3s;
}
.info-overview-input:focus {
	width: 90%;
}
.rank-wrapper {
	margin:0; 
	display:inline-block;
}
.rank-group {
	background-color: rgba(255, 255, 255, 0.5);
}

/* tag */
.tag-wrapper {
	font-size: 18px;
	max-width: 1000px;
    margin: auto;
}
.tag-list > div {
	padding-top: 4px;
}
.label-tag {
	background-color: rgba(119, 119, 119, .5);
	margin: 4px;
	font-weight: 700;
	cursor: pointer;
}
.label-tag.on {
	background-color: rgba(255, 255, 255, .9);
	color: #337ab7;
}
.label-tag:hover {
	color: #f0ad4e;
    text-shadow: 1px 1px 2px #4c4c4c;
}
.tag-form-wrapper {
	display:none;
	text-align: center;
}
.tag-new {
	margin: 5px;
}
.label-tag-new {
	cursor: pointer;
	background-color: rgba(91, 192, 222, .75);
}
.tag-form {
	display: inline-block;
	background-color: rgba(255, 255, 255, .5);
	padding: 4px;
	margin: 4px 0;
	border-radius: 4px;
}
.tag-form > input {
	width: 150px;
}

/* navigation */
.navigation-wrapper {
    cursor: pointer;
}
.pagination > li > a {
	width: 60px;
}
.pagination > li.first > a, .pagination > li.last > a {
}

/* position */
.position-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.position-bottom {
	position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;  
    padding: 0 20px;
}
.position-bottom-right {
	position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;  
    padding: 0 20px;
}

@media (max-height: 1500px) {
	#header_div {
		font-size: 18px;
	}
	input.search {
		font-size: 14px;
		height: 22px;
		padding: 2px 5px;
		width: 150px !important;
	}
	.info-wrapper dl {
    	margin: auto;
	}
	.info-wrapper dl dt {
		font-size: 28px;
	}
	.info-wrapper dl dd {
		font-size: 22px;
	}
	.cover-wrapper {
		margin: 0 auto;
	}
	.tag-wrapper {
		font-size: 16px;
		max-width: 800px;
    	margin: auto;
	}
}
@media (max-height: 1360px) {
	.info-wrapper dl {
		max-width: 800px;
	}
	.cover-wrapper-inner {
		width: 800px;
    	height: 538px;
	}
}
@media (max-height: 1200px) {
	.info-wrapper dl dd {
		display: inline-block;
	}
}	
@media (max-height: 1000px) {
	.cover-wrapper-inner {
		width: 600px;
    	height: 403px;
	}
}
@media (max-height: 900px) {
	.info-wrapper dl {
		max-width: 1000px;
	}
}
@media (max-height: 850px) {
	.navigation-wrapper {
		display: none;
	}
}
@media (max-height: 800px) {
	.tag-wrapper {
		display: none;
	}
}

@media (max-width: 1900px) {
	.cover-wrapper-inner.current {
	    display: inline-block;
	}
	.cover-wrapper-inner.previous, .cover-wrapper-inner.next {
		display: none;
	}
}
