@CHARSET "UTF-8";
.circle-wrapper {
	/* determine by options */
	/* margin: 50px auto;
	width: 300px;
	height: 300px; */
	border-radius: 50%;
	box-shadow: none;
	/* determine by options */
	/* transition: all 5s; */
}
.circle-wrapper:hover {
	/* determine by options */
	/* box-shadow: 
		-150px    0   0 rgba(255,   0,   0, 0.5), 
		   0   -150px 0 rgba(252, 150,   0, 0.5), 
		 150px    0   0 rgba(0,   255,   0, 0.5), 
		   0    150px 0 rgba(0,   150, 255, 0.5),
		 106px  106px 0 rgba(255,   0,   0, 0.5),
		-106px  106px 0 rgba(252, 150,   0, 0.5), 
		-106px -106px 0 rgba(0,   255,   0, 0.5), 
		 106px -106px 0 rgba(0,   150, 255, 0.5); */
}
.circle {
	background: #fff;
	border-radius: 100%;
	cursor: pointer;
	/* determine by options */
	/* width: 300px;
	height: 300px; */
	text-align: center;
	text-shadow: 0 0 3px #fff, 0 0 5px #eee, 0 0 10px #ddd;
	color: black;
	font-weight: 700;
	margin:0 auto;
	overflow: hidden;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
}
.circle:before, .circle:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 100%;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	background-size: 100%;
	/* determine by options */
	/* box-shadow: 
		inset 150px  0 0 rgba(238, 238, 238, .588), 
		inset 0  150px 0 rgba(238, 238, 238, .588), 
		inset -150px 0 0 rgba(238, 238, 238, .588), 
		inset 0 -150px 0 rgba(238, 238, 238, .588); */
	/* determine by options */
	/* transition: all 5s; */
}
.circle:after {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.circle:hover:after, .circle:hover:before {
	/* determine by options */
	/* box-shadow: 
		inset 15px  0 0 rgba(255,   0,   0, 0.5), 
		inset 0  15px 0 rgba(252, 150,   0, 0.5), 
		inset -15px 0 0 rgba(0,   255,   0, 0.5), 
		inset 0 -15px 0 rgba(0,   150, 255, 0.5); */
	background-image:none;
}
.img-circle {
	height: 100%;
	border-radius: 0;
}
