@CHARSET "UTF-8";

@-webkit-keyframes blink-one { 
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		opacity: 1;
		text-shadow: 0 0 5px #922596, 0 0 10px #922596, 0 0 20px #922596, 0 0 30px #922596, 0 0 40px #421144, 0 0 55px #421144
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: .4;
		text-shadow: none
	}
}
@keyframes blink-one { 
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		opacity: 1;
		text-shadow: 0 0 5px #922596, 0 0 10px #922596, 0 0 20px #922596, 0 0 30px #922596, 0 0 40px #421144, 0 0 55px #421144
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: .4;
		text-shadow: none
	}
}
@-webkit-keyframes blink-two {
	0%, 12%, 18.999%, 23%, 31.999%, 37%, 44.999%, 46%, 49.999%, 51%, 58.999%, 61%, 68.999%, 71%, 85.999%, 96%, 100% {
		opacity: 1;
		text-shadow: 0 0 5px #e2d313, 0 0 10px #e2d313, 0 0 20px #e2d313, 0 0 30px #e2d313, 0 0 40px #847b0b, 0 0 55px #847b0b;
	}
	19%, 22.99%, 32%, 36.999%, 45%, 45.999%, 50%, 50.99%, 59%, 60.999%, 69%, 70.999%, 86%, 95.999% {
		opacity: .4;
		text-shadow: none
	}
}
@keyframes blink-two {
	0%, 12%, 18.999%, 23%, 31.999%, 37%, 44.999%, 46%, 49.999%, 51%, 58.999%, 61%, 68.999%, 71%, 85.999%, 96%, 100% {
		opacity: 1;
		text-shadow: 0 0 5px #e2d313, 0 0 10px #e2d313, 0 0 20px #e2d313, 0 0 30px #e2d313, 0 0 40px #847b0b, 0 0 55px #847b0b;
	}
	19%, 22.99%, 32%, 36.999%, 45%, 45.999%, 50%, 50.99%, 59%, 60.999%, 69%, 70.999%, 86%, 95.999% {
		opacity: .4;
		text-shadow: none
	}
}
@-webkit-keyframes blink-three {
	0%, 12%, 18.999%, 23%, 31.999%, 37%, 44.999%, 46%, 49.999%, 51%, 58.999%, 61%, 68.999%, 71%, 85.999%, 96%, 100% {
	    opacity: 1;
		text-shadow: 0 0 5px #2175c0,0 0 10px #2175c0,0 0 20px #2175c0,0 0 30px #2175c0,0 0 40px #124069,0 0 55px #124069;
	}
	19%, 22.99%, 32%, 36.999%, 45%, 45.999%, 50%, 50.99%, 59%, 60.999%, 69%, 70.999%, 86%, 95.999% {
	    opacity: .4;
	    text-shadow: none;
	}
}
@keyframes blink-three {
	0%, 12%, 18.999%, 23%, 31.999%, 37%, 44.999%, 46%, 49.999%, 51%, 58.999%, 61%, 68.999%, 71%, 85.999%, 96%, 100% {
	    opacity: 1;
		text-shadow: 0 0 5px #2175c0,0 0 10px #2175c0,0 0 20px #2175c0,0 0 30px #2175c0,0 0 40px #124069,0 0 55px #124069;
	}
	19%, 22.99%, 32%, 36.999%, 45%, 45.999%, 50%, 50.99%, 59%, 60.999%, 69%, 70.999%, 86%, 95.999% {
	    opacity: .4;
	    text-shadow: none;
	}
}
@-webkit-keyframes blink-four {
	0%, 14%, 16%, 24%, 42%, 58%, 69%, 71%, 88%, 98%, 100% {
		opacity: 1;
		text-shadow: 0 0 5px #1fc139,0 0 10px #1fc139,0 0 20px #1fc139,0 0 30px #1fc139,0 0 40px #11691f,0 0 55px #11691f;
	}
	15%, 22%, 40%, 55%, 63%, 70%, 82%, 99% {
	    opacity: .4;
	    text-shadow: none;
	}
}
@keyframes blink-four {
	0%, 14%, 16%, 24%, 42%, 58%, 69%, 71%, 88%, 98%, 100% {
		opacity: 1;
		text-shadow: 0 0 5px #1fc139,0 0 10px #1fc139,0 0 20px #1fc139,0 0 30px #1fc139,0 0 40px #11691f,0 0 55px #11691f;
	}
	15%, 22%, 40%, 55%, 63%, 70%, 82%, 99% {
	    opacity: .4;
	    text-shadow: none;
	}
}
.blink-one {
	font-family: 'clipregular', sans-serif;
	-webkit-animation: blink-one 20s linear infinite;
	        animation: blink-one 20s linear infinite;
}

.blink-two {
	font-family: 'clipregular', sans-serif;
	-webkit-animation: blink-two 25s linear infinite;
	        animation: blink-two 25s linear infinite;
}

.blink-three {
	font-family: 'clipregular', sans-serif;
	-webkit-animation: blink-three 30s linear infinite;
	        animation: blink-three 30s linear infinite;
}

.blink-four {
	font-family: 'clipregular', sans-serif;
	-webkit-animation: blink-four 25s linear infinite;
	        animation: blink-four 25s linear infinite;
}

@font-face {
	font-family: 'clipregular';
	src: url('/fonts/clip/clip-webfont.eot');
	src: url('/fonts/clip/clip-webfont.eot?#iefix') format('embedded-opentype'), 
		 url('/fonts/clip/clip-webfont.woff2') format('woff2'), 
		 url('/fonts/clip/clip-webfont.woff') format('woff'),
		 url('/fonts/clip/clip-webfont.ttf') format('truetype'),
		 url('/fonts/clip/clip-webfont.svg#clipregular') format('svg');
	font-weight: normal;
	font-style: normal
}