@charset "UTF-8";

body {
    background-size: cover;
    background-repeat: no-repeat;
}

div#searchDiv {
	font-size: 20px;
}

.btn-randomplay {
	display: none;
}

div.box-cover {
	width: 1000px;
	height: 688px;
	background-position: center center;
    background-repeat: no-repeat;
	background-color: transparent;
    background-size: cover;
    margin: 0 5px;
    border-radius: 4px;
	box-shadow: 0 0px 8px rgba(0,0,0,.75) inset;
}

dl.video-info {
	font-size: 18px;
	margin: 10px;
}
dl.video-info > dt, dl.video-info > dd {
	margin-bottom: 10px;
}
dl.video-info > dt.title {
	font-size: 40px;
}
dl.video-info > dd.rank {
	font-size: 32px;
}
dl.video-info > dd.info {
	font-size: 32px;
}
dl.video-info > dd.action {
	font-size: 34px;
}
dl.video-info > dd.actress {
	font-size: 30px;
	max-height: 150px;
}
dl.video-info > dd.tags {
	font-size: 20px;
}

.rank-range {
	width: 200px !important;
	height: 23px;
}
.input-group-addon.rank-range-addon {
	font: 20px bold;
}

.slidesjs-navigation, .slidesjs-pagination {
	font-size: 18px;
}
