@CHARSET "UTF-8";
.jk-video-wrapper {
	text-align: center;
}
	.jk-video {
		padding: 5px 5px;
		display: inline-block;
	}
		.jk-video-inner {
			margin: auto;
			width: 800px;
			box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
			border-radius: 4px;
   			transition: width .3s;
		}
			.jk-video-cover {
				background: rgba(241, 241, 241, .5) url('/img/bg/blank-cover.png') no-repeat center bottom;
    			background-size: cover;
				/* background-attachment: fixed; */
    			/* background-position: center 77px; */
    			/* background-size: 810px 548px; */
    			/* background-color: transparent; */
    			width: inherit;
    			height: 538px;
     			margin: 0 auto;
				/* box-shadow: 0 3px 9px rgba(0,0,0,.5) inset; */
				border-top-left-radius: 4px;
    			border-top-right-radius: 4px;
    			position: relative;
    			transition: background .3s, height .3s;
			}
				.jk-video-title {
					position: absolute;
					right: 48.3%;
				    padding: 3px;
				    margin: 3px;
	    			max-height: 528px;
				    text-shadow: 0px 0px 5px #0c0c0c;
				    color: #fff;
				    background-color: rgba(256,256,256,.9);
				    border-radius: 4px;
				    writing-mode: vertical-rl;
				    overflow: hidden;
	    			white-space: nowrap;
	    			text-overflow: ellipsis;
	    			transition: background-color .3s;
				}
				.jk-video-title:hover {
					background-color: #337ab7;
				}
			.jk-video-detail {
				width: inherit;
     			margin: 0 auto 25px;
     			text-align: center;
     			padding: 10px 0;
     			border-bottom-right-radius: 4px;
    			border-bottom-left-radius: 4px;
				background-color: #f1f1f1;
			}
			.jk-video-detail .label-plain, .jk-video-detail .input-group {
				box-shadow: 0 3px 9px rgba(0,0,0,.3);
			}
			.jk-video-detail .label-plain.favorite {
				box-shadow: 0 0px 10px 0px rgba(250, 0, 230, 0.5) inset, 0 3px 9px rgba(0,0,0,.3);
			}

.btn-random-view, .range-cover-size {
	display: inline-block; 
	padding: 5px 14px; 
	background-color: #fff; 
	border-radius: 15px; 
	color: #337ab7; 
	text-decoration: none;
}
.btn-random-view:hover {
	text-decoration: none;
 	background-color: rgba(38, 90, 136, .5);
 	color: white;
}
