@CHARSET "UTF-8";
/* 전체를 싸는 */
#slides {
	display: none;
	width: 800px;
	margin:0 auto;
	text-align: center;
}
#slides h4 {
	margin-top: 0;
}
/* 뷰를 싸는 외곽 */
.slidesjs-container {
	margin-bottom: 10px;
}
/* 뷰를 싸는 내부 */
.slidesjs-control {
}
/* 각 뷰 */
.slidesjs-slide {
	height: 100%;
}
/* 뷰 구성요소 */
.slidesjs-slide > dl {
	height: 100%; 
	border-radius:10px;
	border: 0;
	background-repeat: no-repeat; 
	background-position: center center; 
	background-size: cover;
	background-color: rgba(255, 255, 255, 0.75);
}
.slidesjs-slide > dl > dt {
	font-size: x-large;
}
.slidesjs-slide > dl > dd {
	text-align: left;
	margin: 3px 0px 0px 5px;
	font-size: large;
}

/* 네비게이션 버튼 [prev, next, play, stop] */
.slidesjs-navigation {
	display: inline-block;
	padding: 5px 14px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 15px;
	/* display: none !important; */
}
.slidesjs-navigation:hover {
	text-decoration:none;
	background-color: rgba(238, 238, 238, 0.5);
}
.slidesjs-navigation:focus {
	text-decoration:none;
}
.slidesjs-previous {
	float:left;
}
.slidesjs-next {
	float:right;
}
.slidesjs-play,
.slidesjs-stop {
	margin-left:20px;
	margin-right:20px;
}

/* 페이징 UL */
.slidesjs-pagination {
	padding: 10px 0 0 0;
	position: fixed;
    bottom: 0;
    width: inherit;
}
/* 각 페이지 LI */
.slidesjs-pagination-item {
	display:inline-block;
}
.slidesjs-pagination-item:first-child {
	margin-right: 10px;
}
.slidesjs-pagination-item:last-child {
	margin-left: 10px;
}
/* 페이지 번호 */
.slidesjs-pagination-item a {
	position: relative;
	float: left;
	padding: 6px 10px;
	margin: 0px 2px;
	width: 50px;
	line-height: 1.5;
	color: #337ab7;
	text-decoration: none;
	border-radius: .25em;
	background-color: #fff;
	border: 1px solid #ddd;
}
.slidesjs-pagination-item a.active {
	color: #fff;
	background-color: #337ab7;
	border-color: #337ab7;
}
.slidesjs-pagination-item a:hover {
	color: #337ab7;
	background-color: rgba(238, 238, 238, 0.5);
}
