@CHARSET "UTF-8";
body {
	background-color: rgba(255, 255, 255, 0);
}
[onclick], [ng-click] {
	cursor: pointer;
}
#deco_nav {
	position: fixed;
	top: 0;
	right: 20px;
	margin: 0;
	padding: 1px;
	z-index: 99;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 4px;
}
#deco_nav li a {
	font-size: 10px;
	padding: 3px;
	font-weight: 700;
}
/* 
#deco_nav li {
	display: inline-block;
	padding: 0px 3px 0px 3px;
	margin: 5px 5px 0px 0px;
	border: 1px solid rbga(0, 0, 0, 0);
	border-radius: 4px;
	background-color: white;
}
#deco_nav li a {
 	color: navy;
	margin: 0;
	padding: 0;
	font-size: 10px;
	text-decoration: none;
}
#deco_nav li a:hover {
	text-decoration: none;
	color: #7d8ee2;
	text-shadow: 0px 0px 1px navy;
	background-color: rbga(0, 0, 0, 0);
}
#deco_nav li.menu-selected {
	font-weight:bold;
	background-color: #7d8ee2;
}
#deco_nav li.menu-selected a {
	color: white;
}
#deco_nav li.menu-selected a:hover {
	background-color: #7d8ee2;
}
 */

div#header_div {
	
}
div#content_div {
	overflow:auto; 
	/* text-align:center; */ 
	background-position:center center; 
	background-size:contain;
}

#loading {
	background-color: rgba(255, 255, 255, .25); 
	box-shadow: 0px 0px 100px rgba(0, 0, 255, 0.5) inset;
	width: 100%;
	height: 100%;
	min-height: 100%;
	display: table;
	position: absolute; 
	top: 0; 
	left: 0; 
	z-index: 18;
}
#loading-content {
	vertical-align: middle;
	text-align: center;
	display: table-cell;
}
#loading-msg {
	background-color: rgba(0, 0, 255, .5);
    font-weight: bold;
    font-size: 20px;
	padding: 10px 20px;
}