@CHARSET "UTF-8";

.nonExist, .nonExist2 {
	color: gray;
}

.video-card {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius:10px; 
	-moz-border-radius:10px; 
	-webkit-border-radius:10px;
	padding:5px; 
	margin:5px; 
	width:190px;
	background-color: rgba(255, 255, 255, 0.5);
	transition: all 0.3s;
	z-index: 5;
}
.video-card:hover {
	transform:scale(1.2, 1.2);
	box-shadow: 0 0 9px 6px rgba(255, 0, 0, 0.5);
	background-color: rgba(234, 234, 234, 1);
	z-index: 15;
}
.video-card th {
	padding-bottom: 3px;
}
.video-card td {
	padding-left: 5px;
}
.video-card-bg {
	background-repeat: no-repeat; 
	background-position: right center; 
	background-size: cover;
	border-radius: 1em;
}

#content_div ul.list-inline > li {
	display: inline-flex;
}

.video-box {
	width:266px;
	margin:5px; 
	transition: all 0.3s;
}
.video-box:hover {
	transform:scale(1.2, 1.2);
	box-shadow: 0 0 9px 6px rgba(255, 0, 0, 0.5);
}
.video-box dl {
	height:177px; 
	background-repeat: no-repeat; 
	background-position: center center; 
	background-size: cover;
    /* border: 1px solid rgba(0,0,0,.2); */
	border-radius:10px; 
	-moz-border-radius:10px; 
	-webkit-border-radius:10px;
	box-shadow: 0 3px 9px rgba(0,0,0,.5);
	margin-bottom: 0;
}
.video-box dt {
	text-align: center;
}
.video-box dd {
	margin-left: 3px;
	text-align: left;
}
/* Card, Box view selected */
.video-focus {
	box-shadow: 0 3px 9px rgba(214, 29, 29, 0.8);
}

.input-range { 
	width: 140px !important; 
	margin-right: 3px;
	height: 22px;
	padding : 0;
	padding-right: 22px !important;
	margin: 5px;
	/* box-shadow: 0 0 5px 1px #e80e0e; */
}
/* 
.input-range::-webkit-slider-thumb {
	background-color: rgba(51, 122, 183, 1); 
	border: 1px solid #337ab7; 
	opacity: 1; 
	width: 15px; 
	height: 15px;
	appearance: none !important;
    -webkit-appearance: none !important;
    border-radius: 15px; 
    -webkit-border-radius: 15px;
}
 */
.item100 {
	font-size:35px;
	text-shadow:1px 1px 2px black;
}
.item50 {
	font-size:30px;
	text-shadow:1px 1px 2px red;
}
.item30 {
	font-size:25px;
	text-shadow:1px 1px 2px green;
}
.item10 {
	font-size:20px;
	text-shadow:1px 1px 2px cyan;
}
.item5 {
	font-size:15px;
	text-shadow:1px 1px 2px yellow;
}
.item1 {
	font-size:12px;
	/* text-shadow:0px 0px 2px white; */
}
.item:hover {
	z-index: 3;
}
