@CHARSET "UTF-8";
body {
	background-color: rgba(255, 255, 255, 0);
}
[onclick], [ng-click] {
	cursor: pointer;
}
#deco_nav {
	position: fixed;
	top: 0;
	right: 20px;
	margin: 0;
	padding: 1px;
	z-index: 99;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 4px;
	transition: box-shadow 500ms linear 0ms,
				background-color .5s ease .5s;
}
#deco_nav:hover {
	box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
	background-color: rgba(255, 255, 255, 1);
}
#deco_nav li a {
	font-size: 10px;
	padding: 2px;
	font-weight: 700;
}
#deco_nav li a[onclick] {
	color: #d02f6b;
}
#deco_nav li a:hover {
	text-decoration: none;
	background-color: rgba(51, 122, 183, 0.4);
}
#deco_nav li.active a:hover {
	text-decoration: none;
	background-color: rgba(51, 122, 183, 0.8);
}

div#header_div {
}
div#content_div {
	overflow:auto; 
	/* text-align:center; */ 
	background-position:center center; 
	background-size:contain;
}

#loading {
	background-color: rgba(255, 255, 255, .25); 
	box-shadow: 0px 0px 100px rgba(0, 0, 255, 0.5) inset;
	width: 100%;
	height: 100%;
	min-height: 100%;
	display: table;
	position: absolute; 
	top: 0; 
	left: 0; 
	z-index: 18;
}
#loading-content {
	vertical-align: middle;
	text-align: center;
	display: table-cell;
}
#loading-msg {
	background-color: rgba(0, 0, 255, .5);
    font-weight: bold;
    font-size: 20px;
	padding: 10px 20px;
}
#loading-msg-detail {
	background-color: rgba(0, 0, 255, .5);
}