@charset "UTF-8";

body {
	background-color: #000;
}
section#img-section {
	margin:0;
}
canvas#cv {
	border: 0px solid #888;
	border-radius: 10px;	
	background-color: rgba(255, 255, 255, 0.5);
}
canvas#cv:hover {
	cursor:pointer;
}
nav#img-nav {
	position: absolute;
	left: 0;
	bottom: 0;
	text-align:center;
	margin:0;
    border-radius: 4px;
    background: rgba(255,255,255,.5);
    padding: 0 5px 10px;
}
nav#img-nav table {
	width:100%; 
	padding:0; 
	margin:0;
	table-layout:fixed;
}
nav#img-nav table td {
	border:0px solid orange;
}
nav#img-nav ul {
	list-style: none;
	padding: 0;
	display: block;
	clear: right;
	text-align: center;
	margin-top:3px;
	margin-bottom:0;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}
nav#img-nav ul li {
	display: inline-block;
	padding: 0;
	border-right: 0px solid #ccc;
	width: 55px;
}
nav#img-nav a, input ~ span {
	color: #EFD3D3;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	cursor:pointer;
}
nav#img-nav a:hover, input ~ span:hover {
	color: #fff;
   	text-shadow: 2px 2px 2px #123;
}
nav#img-nav a.selected, :checked ~ span {
	color: #D11E11;
	border-radius: 10px;
	padding: 0 10px;
}
input[type=text] {
	color: #EFD3D3;
	margin:0;
	padding:0;
	border:0;
	font-size: 12px;
	text-align:center;
	height:15px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}
input#goNumber {
	width:25pt;
}
.moveBtn, input ~ span {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	padding: 0 10px;
}
.EllipsText{
	overflow : hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	-ms-text-overflow:ellipsis;
	-moz-binding:url(/xe/ellipsis.xml#ellipsis)
}
input[type=radio] {
	display:none;
}
