@charset "UTF-8";

body {
	background-color: #000;
}
section#img-section {
	margin:0;
}
section#img-section > canvas#cv {
	border: 0px solid #888;
	border-radius: 4px;	
	margin: 4px;
	cursor: pointer;
}

nav#img-nav {
	position: absolute;
	left: 0;
	bottom: 0;
	text-align: center;
    border-radius: 4px;
    background: rgba(255,255,255,.5);
    padding: 5px;
	margin: 4px;
}
nav#img-nav table {
	width:100%; 
	padding:0; 
	margin:0;
	table-layout:fixed;
}
nav#img-nav ul {
	padding: 0;
	margin:3px 0 0;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 8px;
}
nav#img-nav li {
	width: 55px;
}
nav#img-nav li:hover, input ~ span:hover {
   	text-shadow: 2px 2px 2px #123;
}
nav#img-nav li.selected > a, :checked ~ span {
	color: #D11E11;
   	text-shadow: 2px 2px 2px #123;
}
nav#img-nav a, input ~ span {
	color: #EFD3D3;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
	padding: 2px 5px;
}

.label-wrapper {
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	color: #eee;
	padding: 0 4px;	
}

#diameter, #goto {
	color: #EFD3D3;
	margin:0;
	padding:0;
	border:0;
	font-size: 12px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0);
	width: 50px;
}

.text-ellipsis {
	overflow : hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 16px;
}

#color {
	background-color: rgba(0,0,0,.5);
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,0);
	margin: 0;
	padding: 4px;
	width: 50px;
	height: 20px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}
