@charset "UTF-8";

#configModal {
	transition: background 1s;
}
#configBox > .row {
	margin: 3px 5px;
	padding: 5px 0;	
	color: rgb(35, 82, 124);
}
#configBox > .row > .col-xs-1,
#configBox > .row > .col-xs-4 {
	padding: 0;
}
select.config-select {
    border: 0;
    font-size: 12px;
    background-color: #fff;
}
input[type=range][role=switch].config-switch-range {
	width: 40px; 
	height: 8px;
	display: inline-block; 
}
.config-summary {
	font-family: D2Coding;
	text-align: center;
	font-size: 12px;
}
.config-summary .config-key {
	font-weight: bold;
}
.config-summary .config-value {
	color: #a94442;	
}

.key-map {
	padding: 15px 5px;
	margin-top: 20px;
	font-family: D2Coding;
}
.key-map .row {
	margin: 0;
	color: rgb(35, 82, 124);
	margin-bottom: 5px;
}
.key-map td {
	padding: 0 3px;
	color: rgb(35, 82, 124);
}
.key-map hr {
	margin: 10px 0;
}
.active-switch {
	background-color: #d9534f;
}
i.shortcuts {
	color: #d9534f;
	font-style: normal;
	text-decoration: underline;
}

.delete-image {
	margin: 0 5px;
	cursor: pointer;
	opacity: 0;
	z-index: 1001;
	font-size: 20px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;	
}
.btn-config {
	opacity: 0;
	z-index: 1001;
	cursor: pointer;
}
.btn-config:hover, .delete-image:hover {
	opacity: 1;
}
.close:focus, .close:hover {
	color: #a94442;
}
.label-switch {
	cursor: pointer;
}

body, .label-info, .progress, .paging {
	overflow: hidden;
	transition: background .5s ease, background-image .5s ease;
}
#leftTop, #leftBottom, #rightTop, #rightBottom, #fixedBox {
	position: fixed;
	padding: 4px;
	z-index: 1000;
}
#leftTop {
	left: 0;
	top: 0;
	cursor: pointer;
}
#leftBottom {
	left: 0;
	bottom: 0;
	cursor: pointer;
}
#rightTop {
	right: 0;
	top: 0;
	cursor: pointer;
}
#rightBottom {
	right: 0;
	bottom: 0;
	cursor: pointer;
}
#fixedBox {
	left: 145px;
	top: 0;
	cursor: pointer;
}
input.input-color {
	background-color: rgba(0,0,0,0);
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.5);
    margin: 0;
    padding: 4px;	
}
input.input-color[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input.input-color[type="color"]::-webkit-color-swatch {
	border: none;
}
.label-color {
	color: #ffff;
	font-weight: 700;
	text-shadow: 0 0 3px #000;
	padding: .3em .7em;
}
