@CHARSET "UTF-8";
#navDiv {
	position: fixed;
	left: 0; 
	top: 0; 
	margin: 5px 5px 0px 5px; 
	z-index: 1000;
	min-width: 200px;
}

#imageDiv {
	margin-top: 30px;
	background-size: contain; 
	background-repeat: no-repeat; 
	background-position: center center;
}

#thumbnailDiv {
	position: fixed; 
	bottom: 0; 
	width: 100%; 
	text-align: center; 
}
#thumbnailDiv > ul#thumbnailUL {
	margin: 0;
}
#thumbnailDiv > ul#thumbnailUL li:first-child, #thumbnailDiv > ul#thumbnailUL li:last-child {
	visibility: hidden;
}  
#thumbnailDiv > ul#thumbnailUL li > div.img-thumbnail {
	width: 120px; 
	height: 100px;
	margin: 3px;
	background-size: cover; 
	background-repeat: no-repeat; 
	background-position: center center;
}
#thumbnailDiv > ul#thumbnailUL li > div.img-thumbnail:not(.active) {
	cursor: pointer;
}
.active {
	opacity: 1;
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);	
}

#currNo {
	height: 12px; 
	border: 0;
	width: 30px;
	text-align: center;
}
.title, .effectInfo, code {
	font-family: "D2Coding";
}
