@CHARSET "UTF-8";
.slides {
	/* width:100%; */
	margin: 30px 0 0 0;
	text-align: center;
}
.slidesjs-container {
}
.slidesjs-control {
}
.slidesjs-slide {
}

.slidesjs-navigation {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;	
	background-color: #5bc0de;
	
}
.slidesjs-navigation:hover, li.slidesjs-pagination-item a:hover {
	text-decoration:none;
	color: #fff;
}
.slidesjs-previous, .slidesjs-next, .slidesjs-play, .slidesjs-stop {
	display: none;
}
ul.slidesjs-pagination {
	position: absolute; 
	left: 0; 
	top: 25px;
	width: 144px; 
	margin: 0; 
	text-align: center;
	padding: 4px;
	z-index: 1818;
}
li.slidesjs-pagination-item {
 	display: none;
	margin: 0 3px;
}
li.slidesjs-pagination-item:first-child, li.slidesjs-pagination-item:last-child {
}
li.slidesjs-pagination-item a {
	position: relative;
	float: left;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;	
	background-color: #337ab7;
}
li.slidesjs-pagination-item a.active {
	text-decoration:none;
}

.bg-image {
	background-position: center center; 
	background-size: contain; 
	background-repeat: no-repeat;
}
