@charset "UTF-8";

.container-tablet {
	transition: background 1s;
}

.container-tablet.throw > #imageDiv {
	background: radial-gradient(ellipse farthest-side at bottom right, rgba(51, 122, 183, .5), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) no-repeat right bottom;
}
.container-tablet.throw.bg-black > #imageDiv {
	background: radial-gradient(ellipse farthest-side at bottom right, rgba(255, 0, 0, .5), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) no-repeat right bottom;
}

.img-card {
	position: fixed;
	transition: unset;
}
.img-card-focus {
	border: 1px solid #337ab7;
}
.img-card-tile {
	background-color: rgba(255, 255, 255, .5);
	border: 1px solid rgba(221, 221, 221, .5);
	opacity: .8;
	padding: 2px;
}
.img-card-tile:hover {
	opacity: 1;
}
.ui-draggable-dragging {
	box-shadow: 
		-1px -1px 1px 1px rgba(255, 0, 0, 0.25), 
		 1px -1px 1px 1px rgba(0, 255, 0, 0.25), 
		 1px  1px 1px 1px rgba(0, 0, 255, 0.25), 
		-1px  1px 1px 1px rgba(255, 255, 0, 0.25);
	transition: top 0s, left 0s;
}

.rotate0 {
	transform: rotateZ(0deg) !important;
}

#imageDiv > img {
     width: initial;
}