@charset "UTF-8";

.container-tablet {
	transition: background 1s;
}
.img-card {
	position: fixed;
	transition: unset;
}
.img-card-focus {
	border: 1px solid #337ab7;
}
.ui-draggable-dragging {
	box-shadow: 
		-1px -1px 1px 1px rgba(255, 0, 0, 0.25), 
		 1px -1px 1px 1px rgba(0, 255, 0, 0.25), 
		 1px  1px 1px 1px rgba(0, 0, 255, 0.25), 
		-1px  1px 1px 1px rgba(255, 255, 0, 0.25);
	transition: top 0s, left 0s;
}

.rotate0 {
	transform: rotateZ(0deg) !important;
}
