@charset "UTF-8";

.container-tablet, #configModal {
	transition: background 1s;
}
.img-card {
	position: fixed;
	transition: unset;
}
.img-card-focus {
	border: 1px solid #337ab7;
}
.ui-draggable-dragging {
	box-shadow: 
		-3px -3px 3px 3px rgba(255, 0, 0, 0.25), 
		 3px -3px 3px 3px rgba(0, 255, 0, 0.25), 
		 3px  3px 3px 3px rgba(0, 0, 255, 0.25), 
		-3px  3px 3px 3px rgba(255, 255, 0, 0.25);
	transition: top 0s, left 0s;
}
#configBox > .row {
	margin: 3px 5px;
	padding: 5px 0;	
}
#configBox > .row > .col-xs-1,
#configBox > .row > .col-xs-4 {
	padding: 0;
}
#effectTypes {
    border: 0;
    font-size: 12px;
    background-color: #fff;
}

.config-summary {
	font-family: D2Coding;
	text-align: center;
}
.config-summary .config-key {
	font-weight: bold;
}
.config-summary .config-value {
	color: #a94442;	
}

.key-map {
	padding: 15px 5px;
	margin-top: 20px;
	font-family: D2Coding;
}
.key-map .row {
	margin: 0;
	color: rgb(35, 82, 124);
	margin-bottom: 5px;
}
.key-map td {
	padding: 0 3px;
	color: rgb(35, 82, 124);
}

.rotate0 {
	transform: rotateZ(0deg) !important;
}
