@charset "UTF-8";

body {
	overflow: hidden;
}
#content_div {
	
}
#thumbnailDiv {
    text-align: center;
}
ul#thumbnailUL > li {
	transition: all .5s;
}
ul#thumbnailUL > li > a.img-thumbnail {
	margin: 2px;
	background-color: rgba(255, 255, 255, .5);	
	text-decoration: none;
}
ul#thumbnailUL > li > a > div {
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: rgba(255,255,255,.25);
}
.box-hover {
	transform: scale(1.5, 1.5);
}
span.input-group-addon {
    background-color: transparent;
    border: 0;
    color: #fff !important;
    font-weight: bold;
	text-shadow: 0px 0px 5px #0c0c0c;
}
.img-title {
	color: #fff;
	text-shadow: 0px 0px 5px #0c0c0c;
}
select#paths {
	background: transparent;
	font-family: D2Coding;
    font-weight: 700;
    text-shadow: 0 0 8px rgba(102,175,233,.6);
}