<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-layout-decorator="layout/crazy">
<head>
<meta charset="UTF-8"></meta>
<title>Parse to Title</title>
<style type="text/css">
.titleArea {
	width:100%;
	height:100%;
	font-size:11px;
	opacity: 0.75;
}
code {
	margin: 0 5px;
	color: red;
}
</style>
<script type="text/javascript" th:src="@{/js/zeroclipboard/ZeroClipboard.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
function fnFindVideo(opus) {
	fnMarkChoice(opus);
	popup([[${@environment.getProperty('url.search.video')}]] + opus, 'videoSearch', 900, 950);
}
function resizeSecondDiv() {
	$("#inputDiv").outerHeight(calculatedDivHeight - 25);	
}
function toggleInputDiv() {
	$("#inputTd").toggle();
	if ($("#inputTd").css("display") == 'none') {
		$("#hideBtn").html("Show");
	}
	else {
		$("#hideBtn").html("Hide");
	}
}
function fnSearchOpus() {
	popup([[${@environment.getProperty('url.search.video')}]] + $("#query").val(), 'videoSearch', 900, 950);
}
function fnSearchActress() {
	popup([[${@environment.getProperty('url.search.actress')}]] + $("#query").val(), 'actressSearch', 900, 950);
}
function fnSearchTorrent() {
	popup([[${@environment.getProperty('url.search.torrent')}]] + $("#query").val(), 'torrentSearch', 900, 950);
}
/*]]>*/
</script>
</head>
<body>
<div class="container" role="main" data-layout-fragment="content">

<form method="post" onsubmit="loading(true, 'Parsing...')">

<div id="header_div" class="div-box">
	<ul class="menu-item-ul">
		<li class="label-large">
			<a onclick="toggleInputDiv()" id="hideBtn">hide</a>
		</li>
		<li class="label-large">
			<a onclick="document.forms[0].submit();" th:text="|Parse(${titleList.size()})|">Parse(length(titleList))</a>	
		</li>
		<li class="label-large">
			<input type="search" id="query" style="width:180px;" class="searchInput" th:placeholder="|#{video.opus} #{video.actress} #{video.torrent}|"/>
		</li>
		<li class="label-large">
			<a onclick="fnSearchOpus()"    th:alt-title="#{video.find-info.opus}" th:text="#{video.opus}">video.opus</a>
		</li>
		<li class="label-large">
			<a onclick="fnSearchActress()" th:alt-title="#{video.find-info.actress}" th:text="#{video.actress}">video.actress</a>
		</li>
		<li class="label-large">
			<a onclick="fnSearchTorrent()" th:alt-title="#{video.find-info.torrent}" th:text="#{video.torrent}">video.torrent</a>
		</li>
	</ul>
</div>

<div id="content_div" class="div-box" style="overflow:auto;">
	<table id="resultList" style="width:100%;">
		<tr>
			<td id="inputTd" style="width:300px;">
				<div id="inputDiv" style="position:absolute; top:80px; left:20px; width:300px;">
					<textarea id="titleData" name="titleData" class="titleArea" placeholder="input title data" th:text="${titleData}">titleData</textarea>
				</div>
			</td>
			<td>
				<table class="video-table">
					<tr th:if="${titleList.size()} == 0">
						<td>
							No Video
						</td>
					</tr>
					<tr th:each="title : ${titleList}" id="check-${title.opus}" style="font-size:11px; color:blue;">
						<td class="number" width="10px" th:text="${titleStat.count}">
							status.count
						</td>
						<td width="80px">
							<span class="label">
							<a th:id="|copyBtn_${title.opus}|" th:attr="data-clipboard-target=|dataTitle_${title.opus}|" th:onclick="|fnFindVideo('${title.opus}'); document.title='${title}'|">Get Info </a>
							<code th:if="${title.check}" th:text="${title.checkDescShort}">title.checkDescShort</code>
							</span>
							<script th:inline="javascript">
							/*<![CDATA[*/
							           new ZeroClipboard(document.getElementById([[|copyBtn_${title.opus}|]]));
							/*]]>*/
							</script>
						</td>
						<td>
							<input th:id="|dataTitle_${title.opus}|" class="text" style="width:100%;" th:value="${title}"/>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>

</form>

</div>
</body>
</html>