<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-layout-decorator="layout/crazy">
<head>
<meta charset="UTF-8"></meta>
<title th:text="${studio.name}">studio.name</title>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
function fnRenameTo() {
	var actressForm = document.forms['studioForm'];
	actressForm.action = [[@{/video/studio/{studio.name}/renameTo/}]] + $("#newName").val();
	actressForm.submit();
}

function fnPutStudioInfo() {
	var actressForm = document.forms['studioForm'];
	actressForm.action = [[@{/video/studio/{studio.name}}]];
	actressForm.submit();
}
/*]]>*/
</script>
</head>
<body>
<div class="container" role="main" data-layout-fragment="content">

<form id="studioForm" method="post">
	<input type="hidden" name="_method" id="hiddenHttpMethod" value="put"/>
	<dl class="dl-detail">
		<dt class="label-large center">
			<input class="studioInfo" type="text" name="newname" th:value="${studio.name}" id="newName" />
			<span th:text="|Score ${studio.score}|">Score studio.score</span>
			<span  class="button" style="float:right" onclick="fnRenameTo()">Rename</span>
		</dt>
		<dd>
			<span class="label-title">Homepage : <input class="studioInfo" type="text" name="homepage" th:value="${studio.homepage}" /></span>
			<span class="label-title">Company : <input class="studioInfo" type="text" name="company" th:value="${studio.company}" /></span>
			<span class="button" style="float:right" onclick="fnPutStudioInfo()">Save</span>
		</dd>
		<dd>
			<span class="label-title" th:text="|Actress(${#lists.size(studio.actressList)})|"> length(studio.actressList)</span>
		</dd>
		<dd>
			<div style="padding-left:60px;">
			<span th:each="actress : ${studio.actressList}" class="label" th:onclick="|fnViewActressDetail('${actress.name}')|"
					th:text="|${actress.name}(${#lists.size(actress.videoList)}), Score ${actress.score}|">
					actress.name(length(actress.videoList)), Score actress.score</span>
			</div>
		</dd>
		<dd><span class="label-title" th:text="|Video(${#lists.size(studio.videoList)})|">Video(length(studio.videoList))</span></dd>
	</dl>
</form>

<div style="padding-left:60px;">
	<ul>
		<li th:each="video : ${studio.videoList}" class="li-box" th:id="|opus-${video.opus}|">
			<div th:replace="video/videoCard :: card (${video})"></div>
		</li>
	</ul>
</div>

</div>
</body>
</html>
